<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Greece</title>
    <link rel="stylesheet" href="/assets/shared/greekestate/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/assets/shared/greekestate/assets/styles/slider.css">
    <link rel="stylesheet" href="/assets/shared/greekestate/assets/styles/greek.css"/>
    <style>
        @import url('https://fonts.googleapis.com/css?family=News+Cycle');
    </style>
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="/assets/shared/greekestate/assets/scripts/slider.js"></script>
</head>
<body>
<!--/*@thymesVar id="__content" type="com.fourigin.argo.template.engine.utilities.ContentElementUtility"*/-->
<!--/*@thymesVar id="__page" type="com.fourigin.argo.template.engine.utilities.PagePropertiesUtility"*/-->

<header th:replace="greekestate/base :: header">

</header>
<div class="body">

    <!--
    <article th:replace="greekestate/sub-templates/slider :: article-product-slider(${argo.contentElementUtility.getElement('/stage').elements})">

    </article>
    -->
    <article class="productStageSlider">
        <div class="slider heroStageOffers">
            <input class="sliderPageStorage" value="1" type="hidden">
            <div class="sliderWrapper">
                <ul>
                    <li>
                        <div class="heroStageOffer">
                            <div class="image">
                                <img src="/assets/greekestate/assets/images/start-loutraki.JPG"/>
                                <div class="teaser">Wir bieten fast 200 Objekte<br/>direkt in Loutraki!</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="sliderSlideLeft"></div>
            <div class="sliderSlideRight"></div>
        </div>
        <script type="text/javascript">
            jQuery(document).ready(function () {
                new Slider(
                    jQuery(".slider.heroStageOffers"),
                    {
                        "slideItemsAmountPerPage": [
                            {
                                "min": "0px",
                                "max": null,
                                "slideItems": 1
                            }
                        ]
                    }
                );
            });
        </script>
    </article>
<!--	 Reference to a configuration module:
	<span th:remove="tag" 
		  th:utext="|&lt;!&#45;&#45; argo.contentElementUtility.getConfig('main'): ${argo.contentElementUtility.getConfig('main')} &#45;&#45;&gt;|">...</span>

	&lt;!&ndash; Reference to a data-source module (prefixed with '@' + data source name): &ndash;&gt;
	<span th:remove="tag" 
		  th:utext="|&lt;!&#45;&#45; argo.contentElementUtility.getElement('@objectNodes/object_003'): ${argo.contentElementUtility.getElement('@objectNodes:/object_003')} &#45;&#45;&gt;|">...</span>
	-->
    <article class="contextHighlights">
        <div class="links">
            <a href="immobilie-kaufen.html">Immobilie kaufen</a>
            <a href="feriendomizil-suchen.html">Feriendomizil mieten</a>
        </div>
        <!--
        <div class="searchAndGo">
            <i class="fa fa-search linkTypeIcon" aria-hidden="true"></i>
            <form action="#">
                <label>
                    <span>Objekt-ID</span>
                    <input name="objectId" type="text" />
                </label>
                <input class="cta" type="submit" value="Suchen"/>
            </form>
        </div>
        -->
    </article>

    <!--<article th:replace="greekestate/base :: article-h1-block()">-->
    <article>
        <h1>Herzlich willkommen!</h1>
        <p>
            Unsere Seite befindet sich im Umbau und ist bis Anfang Januar 2019 wieder voll für Sie erreichbar.
            Sie können gerne bereits in unserer Suche nach interessanten Angeboten suchen!
        </p>
        <p>
            Bei Fragen stehen wir Ihnen jederzeit gerne zur Verfügung.
        </p>
    </article>


    </article>

    <article>
        <h2>Ausgewählte Angebote</h2>

        <ul class="smallItemGalleryList">
            <li>
                <div class="image">
                    <div class="slider">
                        <input class="sliderPageStorage" value="1" type="hidden">
                        <div class="sliderWrapper">
                            <ul>
                                <li>
                                    <div class="detailSlide">
                                        <div class="image">
                                            <img src="http://www.images.bestgreekestate.com/8c/78f1b786c757c6f3853050fac83a3cc3551841/77528345_900x675.jpeg"/>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="detailSlide">
                                        <div class="image">
                                            <img src="http://www.images.bestgreekestate.com/a0/e2a9e2867100bf32f8b4152870a02031d8c625/77528349_900x675.jpeg"/>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="detailSlide">
                                        <div class="image">
                                            <img src="http://www.images.bestgreekestate.com/ad/52e0b474acddab06af991f43f042431ab345cc/77528350_900x675.jpeg"/>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="sliderSlideLeft"></div>
                        <div class="sliderSlideRight"></div>
                    </div>
                </div>
                <div class="description">
                    <div class="category">Saronikos</div>
                    <h3>Einfamilienhaus zu verkaufen</h3>
                    <p>Object: object_3813104</p>
                    <!--<h3><a href="details.html">Gewerbegebiet mit bester Anbindung</a></h3>-->
                </div>
                <div class="priceAndCta">
                    <span class="price">
                        € 240,000
                    </span>
                    <!--<a href="details.html" class="cta">Zum Angebot</a>-->
                </div>
            </li>

            <li>
                <div class="image">
                    <div class="slider">
                        <input class="sliderPageStorage" value="1" type="hidden">
                        <div class="sliderWrapper">
                            <ul>
                                <li>
                                    <div class="detailSlide">
                                        <div class="image">
                                            <img src="http://www.images.bestgreekestate.com/cf/03fefe88ca1c67b1006aeb888ab3f1c2d382a0/108832113_900x675.jpeg"/>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="detailSlide">
                                        <div class="image">
                                            <img src="http://www.images.bestgreekestate.com/a2/6583318f8e6ca81f44e827c603ae3dfd0015e3/108832115_900x675.jpeg"/>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="detailSlide">
                                        <div class="image">
                                            <img src="http://www.images.bestgreekestate.com/ef/59e6fd292b89f9b611c1e6956867b8f09e967d/108832116_900x675.jpeg"/>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="detailSlide">
                                        <div class="image">
                                            <img src="http://www.images.bestgreekestate.com/42/e4a674614340bc2ec1210affb2f13269ae789d/108832125_900x675.jpeg"/>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="sliderSlideLeft"></div>
                        <div class="sliderSlideRight"></div>
                    </div>
                </div>
                <div class="description">
                    <div class="category">Loutraki</div>
                    <h3>Apartment zu verkaufen</h3>
                    <p>Object: object_5350928</p>
                    <!--<h3><a href="details.html">Gewerbegebiet mit bester Anbindung</a></h3>-->
                </div>
                <div class="priceAndCta">
                    <span class="price">
                        € 49,980
                    </span>
                    <!--<a href="details.html" class="cta">Zum Angebot</a>-->
                </div>
            </li>

            <li>
                <div class="image">
                    <div class="slider">
                        <input class="sliderPageStorage" value="1" type="hidden">
                        <div class="sliderWrapper">
                            <ul>
                                <li>
                                    <div class="detailSlide">
                                        <div class="image">
                                            <img src="http://www.images.bestgreekestate.com/b3/459e090341397fa2251a522ba2c2411148b16d/104314692_900x675.jpeg"/>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="detailSlide">
                                        <div class="image">
                                            <img src="http://www.images.bestgreekestate.com/1a/450849db592668202f4594563160cea3209b97/104314710_900x675.jpeg"/>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="detailSlide">
                                        <div class="image">
                                            <img src="http://www.images.bestgreekestate.com/01/9921f3dfa0dbe11f0c2245759285ae2faec472/104314789_900x675.jpeg"/>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="sliderSlideLeft"></div>
                        <div class="sliderSlideRight"></div>
                    </div>
                </div>
                <div class="description">
                    <div class="category">Loutraki</div>
                    <h3>Apartment zu verkaufen</h3>
                    <p>Object: object_3813336</p>
                    <!--<h3><a href="details.html">Gewerbegebiet mit bester Anbindung</a></h3>-->
                </div>
                <div class="priceAndCta">
                    <span class="price">
                        € 549,990
                    </span>
                    <!--<a href="details.html" class="cta">Zum Angebot</a>-->
                </div>
            </li>
        </ul>

        <script type="text/javascript">
            jQuery(document).ready(function () {
                jQuery(".smallItemGalleryList .slider").each(function () {
                    new Slider(
                        jQuery(this),
                        {
                            "slideItemsAmountPerPage": [
                                {
                                    "min": "0px",
                                    "max": null,
                                    "slideItems": 1
                                }
                            ]
                        }
                    );
                });
            });
        </script>
    </article>

    <article class="forwardings">
        <a href="immobilie-kaufen.html">Immobilie kaufen</a>
        <a href="feriendomizil-suchen.html">Feriendomizil mieten</a>
        <!--<a href="region.html">Informationen über Loutraki</a>-->
    </article>
</div>
<footer th:replace="greekestate/base :: footer">

</footer>
</body>
</html>