<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Greece</title>
    <link rel="stylesheet" href="/assets/shared/greekestate/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/assets/shared/greekestate/assets/styles/basic-layout.css"/>
    <link rel="stylesheet" href="/assets/shared/greekestate/assets/styles/slider.css">
    <link rel="stylesheet" href="/assets/shared/greekestate/assets/styles/greek.css"/>
    <style>
        @import url('https://fonts.googleapis.com/css?family=News+Cycle');
    </style>
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="/assets/shared/greekestate/assets/scripts/slider.js"></script>
    <script src="/assets/shared/greekestate/assets/scripts/object-search.js"></script>
</head>
<body>

<header th:replace="greekestate/base :: header">

</header>

<div class="body">

    <nav class="breadcrumb" th:insert="greekestate/base :: breadcrumb">

    </nav>

    <article>
        <h1>Immobilie kaufen</h1>
    </article>
    <!--
    <article class="linksImageTeaser">
        <h2>Informationen zu den Regionen</h2>
        <div class="linksImageTeaserWrapper">
            <div class="linkImageTeaser">
                <a href="region.html">
                    <img src="assets/images/region-loutraki.jpg"/>
                    <div class="description">
                        <h2>Loutraki</h2>
                        <p>Die Perle Griechenlands</p>
                    </div>
                </a>
            </div>
            <div class="linkImageTeaser">
                <a href="region.html">
                    <img src="assets/images/region-kreta.jpg"/>
                    <div class="description">
                        <h2>Kreta</h2>
                        <p>Die Schönheit Griechenlands</p>
                    </div>
                </a>
            </div>
            <div class="linkImageTeaser">
                <a href="region.html">
                    <img src="assets/images/region-athen.jpg"/>
                    <div class="description">
                        <h2>Athen</h2>
                        <p>Die Kultur Griechenlands</p>
                    </div>
                </a>
            </div>
        </div>
    </article>
    -->

    <article class="search">
        <h2>Suchen</h2>
        <div class="searchFilter">
            <form id="searchObjects">
                <div class="region">
                    <h3>Suche in der Region</h3>
                    <select name="region">
                        <option value="loutraki">Loutraki</option>
                        <option value="assos">assos</option>
                        <option value="patisia">patisia</option>
                        <option value="lechaio">lechaio</option>
                        <option value="kalamia">kalamia</option>
                        <option value="center">center</option>
                        <option value="korinthos">korinthos</option>
                        <option value="sikiona">sikiona</option>
                        <option value="limni vouliagmenis">limni vouliagmenis</option>
                        <option value="soligeia">soligeia</option>
                        <option value="nea penteli">nea penteli</option>
                        <option value="glika nera">glika nera</option>
                        <option value="marousi">marousi</option>
                        <option value="velo">velo</option>
                        <option value="xilokastro">xilokastro</option>
                        <option value="vocha">vocha</option>
                        <option value="poseidonia">poseidonia</option>
                        <option value="agia paraskevi">agia paraskevi</option>
                        <option value="agioi theodoroi">agioi theodoroi</option>
                        <option value="xilokeriza">xilokeriza</option>
                        <option value="voula">voula</option>
                        <option value="saronikos">saronikos</option>
                        <option value="evrostini">evrostini</option>
                        <option value="kato almiri">kato almiri</option>
                        <option value="batharistra">batharistra</option>
                        <option value="archaio limani">archaio limani</option>
                        <option value="akadimia">akadimia</option>
                        <option value="agios georgios">agios georgios</option>
                    </select>
                </div>

                <div class="filterCategory">
                    <h3>Typ des Objekts</h3>
                    <fieldset>
                        <label><input type="checkbox" name="type" value="apartment"><span>Wohnung</span></label>
                        <label><input type="checkbox" name="type" value="land-plot"><span>#land-plot</span></label>
                        <label><input type="checkbox" name="type" value="building"><span>#building</span></label>
                        <label><input type="checkbox" name="type" value="hotel"><span>#hotel</span></label>
                        <label><input type="checkbox" name="type" value="villa"><span>#villa</span></label>
                        <label><input type="checkbox" name="type" value="detached house"><span>#detached house</span></label>
                        <label><input type="checkbox" name="type" value="office"><span>#office</span></label>
                        <label><input type="checkbox" name="type" value="farm parcel"><span>#farm parcel</span></label>
                        <label><input type="checkbox" name="type" value="store"><span>#store</span></label>
                        <label><input type="checkbox" name="type" value="business building"><span>#business building</span></label>
                        <label><input type="checkbox" name="type" value="various other property"><span>#various other property</span></label>
                        <label><input type="checkbox" name="type" value="parking"><span>#parking</span></label>
                        <label><input type="checkbox" name="type" value="other land property"><span>#other land property</span></label>
                        <label><input type="checkbox" name="type" value="maisonette"><span>#maisonette</span></label>
                    </fieldset>
                </div>
            </form>
        </div>
    </article>

    <article class="searchResults" th:with="objects = ${argo.contentElementUtility.getElement('@site-structure:/')}">
        <div class="legend">
            <div class="resultAmount">
                <i class="fa fa-list-ol" aria-hidden="true"></i>
                <span class="amount" data-content="result-amount" th:text="${objects.elements.size()}">73</span>
                <span>Immobilien gefunden.</span>
            </div>
            <!--
            <div class="sorting">
                <label>
                    <i class="fa fa-bar-chart" aria-hidden="true"></i>
                    <span>Sortierung nach:</span>
                    <select name="sort">
                        <option>Preis (aufsteigend)</option>
                        <option>Preis (absteigend)</option>
                        <option>Zimmerzahl</option>
                        <option>Raumfläche</option>
                        <option>Entfernung zum Meer</option>
                    </select>
                </label>
            </div>
            -->
        </div>

        <div class="box boxLoading">
            <i class="fa fa-refresh fa-spin" aria-hidden="true"></i>
            <p>Suche nach Objekten...</p>
        </div>


        <ul class="smallItemGalleryList">
            <li class="hidden" th:each="link : ${objects.elements}"
                th:with="
                    properties = ${argo.contentElementUtility.getElement(link, '/properties')},
                    description = ${argo.contentElementUtility.getElement(link, '/headline')},
                    images = ${argo.contentElementUtility.getElement(link, '/images')},
                    type = ${argo.contentElementUtility.getElement(properties, '/type')},
                    price = ${argo.contentElementUtility.getElement(properties, '/price')},
                    href = ${argo.pagePropertiesUtility.getPath(link.target)}
            " data-object-id="1234" th:attr="data-object-id=${link.name}">
                <span th:text="${link.name}"/>
                <span th:utext="|&lt;!-- ${link} --&gt;|"></span>
                <div class="image">
                    <div class="slider">
                        <input class="sliderPageStorage" value="1" type="hidden">
                        <div class="sliderWrapper">
                            <ul>
                                <li th:each="image : ${images.elements}">
                                    <div class="detailSlide">
                                        <div class="image">
                                            <img th:attr="data-image-src=${image.source}" />
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="sliderSlideLeft"></div>
                        <div class="sliderSlideRight"></div>
                    </div>
                </div>
                <div class="description">
                    <div class="category" th:text="${type.content}">Gewerbe</div>
                    <h3><a th:href="${href}" href="details.html" th:text="${description.getContextSpecificContent('de', true)}">Gewerbegebiet mit bester Anbindung</a></h3>
                </div>
                <div class="priceAndCta">
                    <span class="price" th:text="${price.content}">
                        500.500 €
                    </span>
                    <a th:href="${href}" href="details.html" class="cta">Zum Angebot</a>
                </div>
            </li>
        </ul>

        <script type="text/javascript">
            jQuery(document).ready(function () {
                jQuery(".slider").each(function () {
                    new Slider(
                        jQuery(this),
                        {
                            "slideItemsAmountPerPage": [
                                {
                                    "min": "0px",
                                    "max": null,
                                    "slideItems": 1
                                }
                            ]
                        }
                    );
                });
            });
        </script>

        <div class="overlay overlayError">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            <p>Entschuldigung, es sind intern Probleme aufgetreten.</p>
            <p>Bitte verändern Sie die Filtereinstellungen oder versuchen Sie es später erneut.</p>
        </div>
        <div class="overlay overlayNoResult">
            <i class="fa fa-meh-o" aria-hidden="true"></i>
            <p>Zu diesen Filtereinstellungen konnten keine Ergebnisse gefunden werden.</p>
        </div>
    </article>

</div>

<footer th:replace="greekestate/base :: footer">

</footer>
</body>
</html>