<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Greece</title>
    <link rel="stylesheet" href="/assets/shared/greekestate/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/assets/shared/greekestate/assets/styles/basic-layout.css"/>
    <link rel="stylesheet" href="/assets/shared/greekestate/assets/styles/slider.css">
    <link rel="stylesheet" href="/assets/shared/greekestate/assets/styles/greek.css"/>
    <style>
        @import url('https://fonts.googleapis.com/css?family=News+Cycle');
    </style>
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="/assets/shared/greekestate/assets/scripts/slider.js"></script>
    <script src="/assets/shared/greekestate/assets/scripts/object-search.js"></script>
</head>
<body>

<header th:replace="greekestate/base :: header">

</header>

<div class="body">

    <nav class="breadcrumb">
        <div class="wrapper">
            <div class="breadcrumbPath">
                <i class="fa fa-bookmark-o linkTypeIcon" aria-hidden="true"></i>
                <ul class="folderList">
                    <li>
                        <a href="index.html">Start</a>
                    </li>
                    <li>
                        Immobilie kaufen
                    </li>
                </ul>
            </div>
            <div class="contextHighlights">
                <div class="links">
                    <a href="immobilie-kaufen.html">Immobilie kaufen</a>
                    <a href="feriendomizil-suchen.html">Feriendomizil mieten</a>
                </div>
                <!--
                <div class="searchAndGo">
                    <i class="fa fa-search linkTypeIcon" aria-hidden="true"></i>
                    <form action="#">
                        <label>
                            <span>Objekt-ID</span>
                            <input name="objectId" type="text" />
                        </label>
                        <input class="cta" type="submit" value="Suchen"/>
                    </form>
                </div>
                -->
            </div>
        </div>
    </nav>

    <article>
        <h1>Immobilie kaufen</h1>
    </article>
    <!--
    <article class="linksImageTeaser">
        <h2>Informationen zu den Regionen</h2>
        <div class="linksImageTeaserWrapper">
            <div class="linkImageTeaser">
                <a href="region.html">
                    <img src="assets/images/region-loutraki.jpg"/>
                    <div class="description">
                        <h2>Loutraki</h2>
                        <p>Die Perle Griechenlands</p>
                    </div>
                </a>
            </div>
            <div class="linkImageTeaser">
                <a href="region.html">
                    <img src="assets/images/region-kreta.jpg"/>
                    <div class="description">
                        <h2>Kreta</h2>
                        <p>Die Schönheit Griechenlands</p>
                    </div>
                </a>
            </div>
            <div class="linkImageTeaser">
                <a href="region.html">
                    <img src="assets/images/region-athen.jpg"/>
                    <div class="description">
                        <h2>Athen</h2>
                        <p>Die Kultur Griechenlands</p>
                    </div>
                </a>
            </div>
        </div>
    </article>
    -->

    <article class="search">
        <h2>Suchen</h2>
        <div class="searchFilter">
            <form id="searchObjects">
                <div class="region">
                    <h3>Suche in der Region</h3>
                    <select name="region">
                        <option value="loutraki">Loutraki</option>
                        <option value="kreta">Kreta</option>
                        <option value="athen">Athen</option>
                    </select>
                </div>

                <div class="filterCategory">
                    <h3>Typ des Objekts</h3>
                    <fieldset>
                        <label><input type="checkbox" name="type" value="appartement"><span>Wohnung</span></label>
                        <label><input type="checkbox" name="type" value="house"><span>Haus</span></label>
                        <label><input type="checkbox" name="type" value="commercial"><span>Gewerbefläche</span></label>
                        <label><input type="checkbox" name="type" value="base"><span>Grundstücke</span></label>
                        <label><input type="checkbox" name="type" value="other"><span>Andere</span></label>
                    </fieldset>
                </div>
            </form>
        </div>
    </article>

    <article class="searchResults" th:with="objects = ${argo.contentElementUtility.getElement('@site-structure:/')}">
        <div class="legend">
            <div class="resultAmount">
                <i class="fa fa-list-ol" aria-hidden="true"></i>
                <span class="amount" th:text="${objects.elements.size()}">73</span>
                <span>Immobilien gefunden.</span>
            </div>
            <!--
            <div class="sorting">
                <label>
                    <i class="fa fa-bar-chart" aria-hidden="true"></i>
                    <span>Sortierung nach:</span>
                    <select name="sort">
                        <option>Preis (aufsteigend)</option>
                        <option>Preis (absteigend)</option>
                        <option>Zimmerzahl</option>
                        <option>Raumfläche</option>
                        <option>Entfernung zum Meer</option>
                    </select>
                </label>
            </div>
            -->
        </div>
        <ul class="smallItemGalleryList">
            <li class="hidden" th:each="link : ${objects.elements}"
                th:with="
                    properties = ${argo.contentElementUtility.getElement(link, '/properties')},
                    description = ${argo.contentElementUtility.getElement(link, '/headline')},
                    images = ${argo.contentElementUtility.getElement(link, '/images')},
                    type = ${argo.contentElementUtility.getElement(properties, '/type')},
                    price = ${argo.contentElementUtility.getElement(properties, '/price')},
                    href = ${argo.pagePropertiesUtility.getPath(link.target)}
            " data-object-id="1234" th:attr="data-object-id=${link.name}">
                <span th:text="${link.name}"/>
                <span th:utext="|&lt;!-- ${link} --&gt;|"></span>
                <div class="image">
                    <div class="slider">
                        <input class="sliderPageStorage" value="1" type="hidden">
                        <div class="sliderWrapper">
                            <ul>
                                <li th:each="image : ${images.elements}">
                                    <div class="detailSlide">
                                        <div class="image">
                                            <img th:attr="data-image-src=${image.source}" />
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="sliderSlideLeft"></div>
                        <div class="sliderSlideRight"></div>
                    </div>
                </div>
                <div class="description">
                    <div class="category" th:text="${type.content}">Gewerbe</div>
                    <h3><a th:href="${href}" href="details.html" th:text="${description.getContextSpecificContent('de', true)}">Gewerbegebiet mit bester Anbindung</a></h3>
                </div>
                <div class="priceAndCta">
                    <span class="price" th:text="${price.content}">
                        500.500 €
                    </span>
                    <a th:href="${href}" href="details.html" class="cta">Zum Angebot</a>
                </div>
            </li>
<!--
            <li>
                <div class="image">
                    <div class="slider">
                        <input class="sliderPageStorage" value="1" type="hidden">
                        <div class="sliderWrapper">
                            <ul>
                                <li>
                                    <div class="detailSlide">
                                        <div class="image">
                                            <img src="assets/images/objects/object1/slide1.jpg"/>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="detailSlide">
                                        <div class="image">
                                            <img src="assets/images/objects/object1/slide2.jpg"/>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="detailSlide">
                                        <div class="image">
                                            <img src="assets/images/objects/object1/slide3.jpg"/>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="sliderSlideLeft"></div>
                        <div class="sliderSlideRight"></div>
                    </div>
                </div>
                <div class="description">
                    <div class="category">Gewerbe</div>
                    <h3><a href="details.html">Gewerbegebiet mit bester Anbindung</a></h3>
                </div>
                <div class="priceAndCta">
                    <span class="price">
                        500.500 €
                    </span>
                    <a href="details.html" class="cta">Zum Angebot</a>
                </div>
            </li>
            <li>
                <div class="image">
                    <div class="slider">
                        <input class="sliderPageStorage" value="1" type="hidden">
                        <div class="sliderWrapper">
                            <ul>
                                <li>
                                    <div class="detailSlide">
                                        <div class="image">
                                            <img src="assets/images/objects/object2/slide1.jpg"/>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="detailSlide">
                                        <div class="image">
                                            <img src="assets/images/objects/object2/slide2.jpg"/>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="detailSlide">
                                        <div class="image">
                                            <img src="assets/images/objects/object2/slide3.jpg"/>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="sliderSlideLeft"></div>
                        <div class="sliderSlideRight"></div>
                    </div>
                </div>
                <div class="description">
                    <div class="category">Feriendomizil</div>
                    <h3><a href="details.html">Gewerbegebiet mit bester Anbindung</a></h3>
                </div>
                <div class="priceAndCta">
                    <span class="price">
                        465.000 €
                    </span>
                    <a href="details.html" class="cta">Zum Angebot</a>
                </div>
            </li>
            <li>
                <div class="image">
                    <div class="slider">
                        <input class="sliderPageStorage" value="1" type="hidden">
                        <div class="sliderWrapper">
                            <ul>
                                <li>
                                    <div class="detailSlide">
                                        <div class="image">
                                            <img src="assets/images/objects/object3/slide1.jpg"/>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="detailSlide">
                                        <div class="image">
                                            <img src="assets/images/objects/object3/slide2.jpg"/>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="sliderSlideLeft"></div>
                        <div class="sliderSlideRight"></div>
                    </div>
                </div>
                <div class="description">
                    <div class="category">Gewerbe</div>
                    <h3><a href="details.html">Restaurant im Touristen-Zentrum</a></h3>
                </div>
                <div class="priceAndCta">
                    <span class="price">
                        2.500 € Pacht
                    </span>
                    <a href="details.html" class="cta">Zum Angebot</a>
                </div>
            </li>

            <li>
                <div class="image">
                    <div class="slider">
                        <input class="sliderPageStorage" value="1" type="hidden">
                        <div class="sliderWrapper">
                            <ul>
                                <li>
                                    <div class="detailSlide">
                                        <div class="image">
                                            <img src="assets/images/objects/object2/slide1.jpg"/>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="detailSlide">
                                        <div class="image">
                                            <img src="assets/images/objects/object2/slide2.jpg"/>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="detailSlide">
                                        <div class="image">
                                            <img src="assets/images/objects/object2/slide3.jpg"/>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="sliderSlideLeft"></div>
                        <div class="sliderSlideRight"></div>
                    </div>
                </div>
                <div class="description">
                    <div class="category">Feriendomizil</div>
                    <h3><a href="details.html">Gewerbegebiet mit bester Anbindung</a></h3>
                </div>
                <div class="priceAndCta">
                    <span class="price">
                        465.000 €
                    </span>
                    <a href="details.html" class="cta">Zum Angebot</a>
                </div>
            </li>
            <li>
                <div class="image">
                    <div class="slider">
                        <input class="sliderPageStorage" value="1" type="hidden">
                        <div class="sliderWrapper">
                            <ul>
                                <li>
                                    <div class="detailSlide">
                                        <div class="image">
                                            <img src="assets/images/objects/object3/slide1.jpg"/>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="detailSlide">
                                        <div class="image">
                                            <img src="assets/images/objects/object3/slide2.jpg"/>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="sliderSlideLeft"></div>
                        <div class="sliderSlideRight"></div>
                    </div>
                </div>
                <div class="description">
                    <div class="category">Gewerbe</div>
                    <h3><a href="details.html">Restaurant im Touristen-Zentrum</a></h3>
                </div>
                <div class="priceAndCta">
                    <span class="price">
                        2.500 € Pacht
                    </span>
                    <a href="details.html" class="cta">Zum Angebot</a>
                </div>
            </li>
            <li>
                <div class="image">
                    <div class="slider">
                        <input class="sliderPageStorage" value="1" type="hidden">
                        <div class="sliderWrapper">
                            <ul>
                                <li>
                                    <div class="detailSlide">
                                        <div class="image">
                                            <img src="assets/images/objects/object1/slide1.jpg"/>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="detailSlide">
                                        <div class="image">
                                            <img src="assets/images/objects/object1/slide2.jpg"/>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="detailSlide">
                                        <div class="image">
                                            <img src="assets/images/objects/object1/slide3.jpg"/>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="sliderSlideLeft"></div>
                        <div class="sliderSlideRight"></div>
                    </div>
                </div>
                <div class="description">
                    <div class="category">Gewerbe</div>
                    <h3>Gewerbegebiet mit bester Anbindung</h3>
                </div>
                <div class="priceAndCta">
                    <span class="price">
                        500.500 €
                    </span>
                    <a href="details.html" class="cta">Zum Angebot</a>
                </div>
            </li>
-->
        </ul>

        <script type="text/javascript">
            jQuery(document).ready(function () {
                jQuery(".slider").each(function () {
                    new Slider(
                        jQuery(this),
                        {
                            "slideItemsAmountPerPage": [
                                {
                                    "min": "0px",
                                    "max": null,
                                    "slideItems": 1
                                }
                            ]
                        }
                    );
                });
            });
        </script>

        <div class="overlay overlayError">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            <p>Entschuldigung, es sind intern Probleme aufgetreten.</p>
            <p>Bitte verändern Sie die Filtereinstellungen oder versuchen Sie es später erneut.</p>
        </div>
        <div class="overlay overlayNoResult">
            <i class="fa fa-meh-o" aria-hidden="true"></i>
            <p>Zu diesen Filtereinstellungen konnten keine Ergebnisse gefunden werden.</p>
        </div>
    </article>

</div>

<footer th:replace="greekestate/base :: footer">

</footer>
</body>
</html>