<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 	<!--<include resource="org/springframework/boot/logging/logback/base.xml"/>-->

	<include resource="org/springframework/boot/logging/logback/defaults.xml" />

	<include resource="org/springframework/boot/logging/logback/console-appender.xml" />

	<property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}spring.log}"/>
	<include resource="org/springframework/boot/logging/logback/file-appender.xml" />


	<!--<appender name="MULTIPLEX-SOCKET" class="de.huxhorn.lilith.logback.appender.ClassicMultiplexSocketAppender">-->
		<!--<Compressing>true</Compressing>-->
		<!--<ReconnectionDelay>30000</ReconnectionDelay>-->
		<!--<IncludeCallerData>true</IncludeCallerData>-->
		<!--<ApplicationIdentifier>argo</ApplicationIdentifier>-->
		<!--<RemoteHosts>-->
			<!--localhost-->
		<!--</RemoteHosts>-->
	<!--</appender>-->

	<!--<logger name="org.springframework" level="DEBUG"/>-->
	<!--<logger name="org.springframework.security" level="DEBUG"/>-->

	<logger name="com.fourigin.argo.compile.CompileController" level="DEBUG"/>

	<logger name="com.fasterxml.jackson.databind" level="DEBUG"/>

	<root level="INFO">
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="FILE"/>
		<!--<appender-ref ref="MULTIPLEX-SOCKET"/>-->
	</root>

</configuration>
