/* colors */
$base_color_orange: rgb(224, 81, 47);
$base_color_green: rgb(67, 148, 141);

$base_color_black: #000;
$base_color_dark_gray: #232323;
$base_color_dark_gray_tiny_lighter: #222326;
$base_color_medium_gray: #262626;
$base_color_medium_light_gray: #eee;
$base_color_medium_dark_gray: #5C5C5C;

$base_color_dark_light_gray: #505050;
$base_color_light_gray: #dcdcdc;
$base_color_medium_gray2: #b1b1b1;
$base_color_medium_gray3: #9a9a9a;
$base_color_medium_gray4: #686868;

/* usages */
$color_cta: $base_color_orange;
$color_cta2: $base_color_green;


$color_action: $base_color_green;
$color_status_active: $base_color_orange;
$color_status_element_hover: $base_color_orange;

$color_font_on_light_background: $base_color_dark_gray;
$color_font_on_dark_background: $base_color_light_gray;

$color_basic_dark_background: $base_color_dark_gray_tiny_lighter;

$color_graphic_text_box_background: $base_color_black;

$color_alternative_dark_background: $base_color_medium_gray;

$color_layer_background: $base_color_medium_dark_gray;
$color_layer_editor_background: $base_color_medium_light_gray;