@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

$font_base_size: .9rem;
$font_headline_size: 1rem;

body {
  font-family: 'Slabo 27px', serif;
  font-size: 14px;
}

textarea {
  font-family: 'Slabo 27px', serif;
  font-size: .9rem;
}