@import "../_settings/_colors.scss";

.graphicTextBox {
  background-color: $color_graphic_text_box_background;
  color: $color_font_on_dark_background;
  padding: 4px 10px;
  min-width: 180px;

  &.graphicTextBox--primeStatus {
    border-bottom: 2px solid $base_color_orange;
  }

  .graphicTextBox__icon {
    background-color: $base_color_orange;
    align-content: center;
    padding: 5px;
    border-radius: 5px;

    span {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      display: block;
    }
  }

  .graphicTextBox__contentWrapper {

    .graphicTextBox__label {
      font-size: .7rem;
      color: $base_color_medium_gray2;
    }

    .graphicTextBox__content {
      display: block;
      font-size: 1rem;
      line-height: 1.1;
      margin-left: 15px;
    }

    ul.graphicTextBox__content--path li {
      &::before {
        content: "/";
      }
    }
  }
}