.DS_Store
.idea
.sass-cache
build/
out/
*.ipr
*.iml
*.iws
.gradle
prototype/application.pid
prototype/theseus.pid
/prototype/apps/com.fourigin.apps.theseus.prototype/theseus.pid
node_modules
prototype/cms/web/production/assets/styles
/prototype/argo/com.fourigin.argo.web/argo.pid
/prototype/argo/cms-root/argo.pid
/prototype/argo/cms-root/argo.log.2018-09-15.0.gz
/prototype/argo/cms-root/argo.log
/prototype/argo/cms-root/argo-1.0-SNAPSHOT.jar
/prototype/argo/com.fourigin.argo.models/src/main/java/com/fourigin/argo/models/content/elements/forms
/prototype/argo/com.fourigin.argo.forms.web/storage
/prototype/utilities/com.fourigin.utilities.playground/storage
