.DS_Store
.idea
.sass-cache
build/
out/
*.ipr
*.iml
*.iws
.gradle
prototype/application.pid
prototype/theseus.pid
/prototype/apps/com.fourigin.apps.theseus.prototype/theseus.pid
node_modules
prototype/cms/web/production/assets/styles
/prototype/argo/com.fourigin.argo.web/argo.pid
