<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 	<include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="MULTIPLEX-SOCKET" class="de.huxhorn.lilith.logback.appender.ClassicMultiplexSocketAppender">
        <Compressing>true</Compressing>
        <ReconnectionDelay>30000</ReconnectionDelay>
        <IncludeCallerData>true</IncludeCallerData>
        <ApplicationIdentifier>argo-forms</ApplicationIdentifier>
        <RemoteHosts>
            localhost,
            192.168.0.2,
            192.168.51.52
        </RemoteHosts>
    </appender>

	<root level="INFO">
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="FILE"/>
		<appender-ref ref="MULTIPLEX-SOCKET"/>
	</root>

</configuration>
