/* colors */
/* usages */
@import url("https://fonts.googleapis.com/css?family=Slabo+27px");
@import url("https://fonts.googleapis.com/css?family=Slabo+27px");
body {
  font-family: 'Slabo 27px', serif;
  font-size: 14px; }

textarea {
  font-family: 'Slabo 27px', serif;
  font-size: .9rem; }

/* colors */
/* usages */
html {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  min-height: 100%; }

a {
  text-decoration: none;
  color: #44958e; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

#argoEditorPrototypes {
  display: none; }

[data-prototype] {
  display: none; }

/* colors */
/* usages */
body > header {
  padding: 10px 0 0 0;
  background-color: #fff;
  color: #232323;
  position: fixed;
  width: 100%;
  z-index: 1; }
  body > header .metaInformationBar {
    display: flex;
    align-items: flex-end; }
    body > header .metaInformationBar a {
      color: inherit; }
    body > header .metaInformationBar nav {
      font-size: 1.05rem; }
      body > header .metaInformationBar nav ul {
        display: flex; }
        body > header .metaInformationBar nav ul li {
          padding: 5px 10px; }
          body > header .metaInformationBar nav ul li.selected {
            background-color: #222326;
            color: #dcdcdc; }

/* colors */
/* usages */
.content {
  background-color: #222326;
  color: #dcdcdc;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 75px; }

.iFrameContent {
  position: relative;
  display: flex;
  top: 148px; }
  .iFrameContent aside {
    background-color: #262626;
    color: #dcdcdc;
    width: 25px;
    bottom: 0;
    top: 148px;
    position: fixed;
    z-index: 95; }
    .iFrameContent aside > ul {
      position: sticky;
      top: 83px; }
      .iFrameContent aside > ul > li {
        cursor: pointer; }
        .iFrameContent aside > ul > li > span {
          transform: rotate(180deg);
          white-space: nowrap;
          background-color: #262626;
          padding: 6px;
          writing-mode: vertical-rl;
          box-sizing: border-box;
          line-height: 1;
          width: 25px; }
          .iFrameContent aside > ul > li > span:hover {
            background-color: #9a9a9a; }
          .iFrameContent aside > ul > li > span.active {
            background-color: #f4802a; }
          .iFrameContent aside > ul > li > span i {
            /* TODO: Hacked, define clear styles */
            padding: 0 0 10px 0;
            font-size: 12px;
            left: 3px;
            position: relative; }
        .iFrameContent aside > ul > li .layer {
          left: 0; }
  .iFrameContent .layerContainer {
    position: fixed;
    left: 25px;
    top: 148px;
    height: calc(100% - 148px); }
    .iFrameContent .layerContainer > .layer {
      background-color: #262626;
      border-left: 1px solid #dcdcdc;
      color: #dcdcdc; }
      .iFrameContent .layerContainer > .layer .layer {
        background-color: #eee;
        color: #5C5C5C; }
        .iFrameContent .layerContainer > .layer .layer input,
        .iFrameContent .layerContainer > .layer .layer textarea {
          background-color: #9a9a9a;
          color: #262626;
          padding: 5px;
          line-height: 1.1;
          font-size: .9rem; }
          .iFrameContent .layerContainer > .layer .layer input[disabled],
          .iFrameContent .layerContainer > .layer .layer textarea[disabled] {
            background-color: #dcdcdc; }
        .iFrameContent .layerContainer > .layer .layer label {
          background-color: #686868; }
          .iFrameContent .layerContainer > .layer .layer label span {
            color: #eee;
            padding: 5px 5px 0 5px; }
  .iFrameContent iframe#pageContent {
    background-color: #fff;
    display: block;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    overflow: scroll;
    margin-left: 25px;
    box-sizing: border-box; }

/* colors */
/* usages */
.toolbar {
  padding: 20px 10px;
  display: flex;
  align-items: center;
  background-color: #222326; }
  .toolbar .tools {
    display: flex;
    margin-left: 50px; }
    .toolbar .tools .tools__item {
      margin: 0 10px; }

/* colors */
/* usages */
.layer {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #5C5C5C;
  color: #dcdcdc;
  padding: 20px 0 10px 0;
  width: 249px;
  transition: all 0.5s cubic-bezier(0.55, 0.09, 0.68, 0.53);
  opacity: 0;
  display: none; }
  .layer.active {
    display: block;
    opacity: 1;
    z-index: 50; }
  .layer .layer {
    left: 249px;
    width: 400px;
    border-left: 1px solid #eee;
    overflow: hidden; }
  .layer form {
    display: flex;
    flex-direction: column;
    height: 100%; }
    .layer form textarea,
    .layer form input {
      width: 100%;
      display: block;
      box-sizing: border-box; }
    .layer form textarea {
      min-height: 90px;
      resize: vertical; }
    .layer form footer {
      position: sticky;
      bottom: 0;
      padding: 10px;
      text-align: right; }
  .layer .layer__button {
    position: absolute;
    top: 5px;
    right: 5px;
    border: 0;
    background-color: #232323;
    color: #dcdcdc;
    padding: 5px 10px;
    cursor: pointer; }
  .layer h4 {
    font-size: 1.08rem;
    margin: 5px 10px 30px 10px; }
  .layer h5 {
    font-size: 1.01rem;
    margin: 10px; }
  .layer .layer__form {
    padding: 0 20px;
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-right: -30px;
    padding-right: 35px; }
  .layer fieldset[data-type=list] > fieldset > ul > li {
    border-top: 1px solid #9a9a9a;
    padding: 20px 0 0 15px;
    position: relative;
    transition: all .3s ease; }
    .layer fieldset[data-type=list] > fieldset > ul > li:last-of-type {
      border-bottom: 1px solid #9a9a9a; }
    .layer fieldset[data-type=list] > fieldset > ul > li > fieldset {
      width: calc(100% - 30px); }
    .layer fieldset[data-type=list] > fieldset > ul > li .listStatusIcon {
      font-size: 1.5rem;
      position: absolute;
      right: 5px;
      top: 10px;
      transform: rotate(0deg);
      transition: all .6s ease;
      cursor: pointer; }
    .layer fieldset[data-type=list] > fieldset > ul > li .listOpenTrigger {
      display: none;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0; }
  .layer fieldset[data-type=list] .imagePreview {
    width: 100%;
    margin-bottom: 15px; }
    .layer fieldset[data-type=list] .imagePreview img {
      max-width: 100%; }
  .layer fieldset[data-type=list] li.compactView {
    padding: 5px 0 5px 15px;
    cursor: pointer; }
    .layer fieldset[data-type=list] li.compactView .listStatusIcon {
      transform: rotate(-90deg); }
    .layer fieldset[data-type=list] li.compactView .listOpenTrigger {
      display: block; }
    .layer fieldset[data-type=list] li.compactView .imagePreview {
      margin-bottom: 0; }
    .layer fieldset[data-type=list] li.compactView fieldset[data-type=object] label,
    .layer fieldset[data-type=list] li.compactView fieldset[data-type=object] .imagePreview span {
      display: none; }
    .layer fieldset[data-type=list] li.compactView fieldset[data-type=object] .imagePreview,
    .layer fieldset[data-type=list] li.compactView fieldset[data-type=object] .imagePreview img {
      height: 40px; }
    .layer fieldset[data-type=list] li.compactView fieldset[data-type=text] label {
      margin: 0;
      background-color: transparent; }
      .layer fieldset[data-type=list] li.compactView fieldset[data-type=text] label span {
        display: none; }
      .layer fieldset[data-type=list] li.compactView fieldset[data-type=text] label textarea {
        height: 40px;
        background-color: transparent;
        resize: none;
        min-height: initial;
        margin: 0;
        padding: 2px 10px;
        overflow: hidden; }
    .layer fieldset[data-type=list] li.compactView fieldset[data-type=listGroup] > fieldset {
      display: flex; }
  .layer label {
    display: block;
    margin: 0 0 15px 0; }

/* colors */
/* usages */
body {
  font-family: 'Slabo 27px', serif;
  font-size: 14px; }

textarea {
  font-family: 'Slabo 27px', serif;
  font-size: .9rem; }

ul.listItemsAsFlyoutTargets > li .layoutTrigger:hover {
  background-color: #9a9a9a; }
ul.listItemsAsFlyoutTargets > li .layoutTrigger.active {
  background-color: #f4802a; }
ul.listItemsAsFlyoutTargets > li .listItemsAsFlyoutTargets__wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px 0 5px 10px; }
ul.listItemsAsFlyoutTargets > li .listItemsAsFlyoutTargets__title {
  font-size: 0.9rem;
  width: calc(100% - 20px); }
ul.listItemsAsFlyoutTargets > li .listItemsAsFlyoutTargets__arrow {
  width: 20px; }

/* colors */
/* usages */
.graphicTextBox {
  background-color: #000;
  color: #dcdcdc;
  border-radius: 5px;
  padding: 0;
  display: flex; }
  .graphicTextBox .graphicTextBox__icon {
    background-color: #f4802a;
    align-content: center;
    padding: 5px;
    border-radius: 5px; }
    .graphicTextBox .graphicTextBox__icon span {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      display: block; }
  .graphicTextBox .graphicTextBox__contentWrapper {
    margin: 4px 80px 2px 20px;
    line-height: 1; }
    .graphicTextBox .graphicTextBox__contentWrapper .graphicTextBox__label {
      font-size: .7rem;
      color: #b1b1b1; }
    .graphicTextBox .graphicTextBox__contentWrapper .graphicTextBox__content {
      display: inline-block;
      font-size: 1rem;
      line-height: 1.1; }
    .graphicTextBox .graphicTextBox__contentWrapper ul.graphicTextBox__content--path li::before {
      content: "/"; }

/* colors */
/* usages */
.informationElement {
  display: flex;
  justify-content: center;
  color: #dcdcdc; }
  .informationElement .informationElement__contentWrapper {
    margin-left: 5px; }

/* colors */
/* usages */
form button {
  border: 0;
  box-shadow: none;
  padding: 5px 10px; }
form button[type=submit] {
  background-color: #44958e;
  color: #fff;
  margin-top: 20px; }
form input {
  border: 0;
  padding: 5px 10px; }
form textarea {
  background-color: #222326;
  padding: 10px;
  border: 0;
  box-shadow: unset;
  color: #dcdcdc; }
form fieldset {
  border: 0;
  margin: 0;
  padding: 0; }
form label span {
  display: block; }

/*# sourceMappingURL=argo.css.map */
