<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Greece</title>
    <link rel="stylesheet" href="/assets/greekestate/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/assets/greekestate/assets/styles/slider.css">
    <link rel="stylesheet" href="/assets/greekestate/assets/styles/greek.css"/>
    <style>
        @import url('https://fonts.googleapis.com/css?family=News+Cycle');
    </style>
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="/assets/greekestate/assets/scripts/slider.js"></script>
</head>
<body>

<div class="body">

    <article th:fragment="article-product-slider(products)" class="productStageSlider">

        <div class="slider heroStageOffers">
            <input class="sliderPageStorage" value="1" type="hidden">
            <div class="sliderWrapper">
                <ul>
                    <li th:each="product : ${products}">
                        <div class="heroStageOffer">
                            <div class="image">
                                <img th:src="${product.elements[0].source}" src="//de.greekestate.fourigin.com/assets/shared/greekestate/assets/images/start-loutraki.JPG"/>
                                <div class="teaser" th:utext="${product.elements[1].content}">Teaser</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="sliderSlideLeft"></div>
            <div class="sliderSlideRight"></div>
        </div>
        <script type="text/javascript">
            jQuery(document).ready(function () {
                new Slider(
                    jQuery(".slider.heroStageOffers"),
                    {
                        "slideItemsAmountPerPage": [
                            {
                                "min": "0px",
                                "max": null,
                                "slideItems": 1
                            }
                        ]
                    }
                );
            });
        </script>
    </article>

    <article th:fragment="article-product-slider-small(products)" class="productStageSlider productStageSlider--small">

        <div class="slider heroStageOffers">
            <input class="sliderPageStorage" value="1" type="hidden">
            <div class="sliderWrapper">
                <ul>
                    <li th:each="product : ${products}">
                        <div class="heroStageOffer">
                            <div class="image">
                                <img th:src="${product.elements[0].source}" src="//de.greekestate.fourigin.com/assets/shared/greekestate/assets/images/start-loutraki.JPG"/>
                                <div class="teaser" th:utext="${product.elements[1].content}">Teaser</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="sliderSlideLeft"></div>
            <div class="sliderSlideRight"></div>
        </div>
        <script type="text/javascript">
            jQuery(document).ready(function () {
                new Slider(
                    jQuery(".slider.heroStageOffers"),
                    {
                        "slideItemsAmountPerPage": [
                            {
                                "min": "0px",
                                "max": null,
                                "slideItems": 1
                            }
                        ]
                    }
                );
            });
        </script>
    </article>

    <article th:fragment="article-stage-image-slider-width-description(products)" class="productStageSlider">

        <div class="slider heroStageOffers heroStageOffersWithDescription">
            <input class="sliderPageStorage" value="1" type="hidden">
            <div class="sliderWrapper">
                <ul>
                    <li th:each="product : ${products}">
                        <div class="heroStageOffer">
                            <div class="image">
                                <img th:src="${product.elements[0].source}" src="//de.greekestate.fourigin.com/assets/shared/greekestate/assets/images/start-loutraki.JPG"/>
                            </div>
                            <div class="description">
                                <h2 th:utext="${product.elements[1].content}"></h2>
                                <div th:utext="${product.elements[2].content}" class="copy">
                                    Informationen...
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="sliderSlideLeft"></div>
            <div class="sliderSlideRight"></div>
        </div>
        <script type="text/javascript">
            jQuery(document).ready(function () {
                new Slider(
                    jQuery(".slider.heroStageOffers"),
                    {
                        "slideItemsAmountPerPage": [
                            {
                                "min": "0px",
                                "max": null,
                                "slideItems": 1
                            }
                        ]
                    }
                );
            });
        </script>
    </article>
</div>

</body>
</html>