/*  Master Colors Palette */
/*  Master Colors Palette */
.cms {
  background-color: #222326;
  color: #ecf0f1; }
  .cms > header {
    display: flex;
    align-items: center;
    padding: 20px;
    height: 80px;
    box-sizing: border-box; }
    .cms > header .logo .brand {
      display: inline-block;
      font-size: 1.4em;
      line-height: 0; }
    .cms > header .logo .product {
      display: inline-block;
      font-style: italic; }
    .cms > header .navigation ul {
      padding: 0;
      margin: 0 1em; }
      .cms > header .navigation ul li {
        display: inline-block;
        padding: 5px;
        cursor: pointer; }
        .cms > header .navigation ul li:hover {
          /*background-color: $flingh_color_palette_gray_34_dark;*/ }
          .cms > header .navigation ul li:hover a {
            border: none; }
        .cms > header .navigation ul li .path {
          background-color: #181818;
          padding: 5px; }
          .cms > header .navigation ul li .path ul li {
            padding: 0;
            margin: 0; }
            .cms > header .navigation ul li .path ul li::before {
              content: "/";
              display: inline-block;
              margin-left: 5px;
              color: #6e6e6e; }
            .cms > header .navigation ul li .path ul li a {
              color: #ecf0f1; }
              .cms > header .navigation ul li .path ul li a:hover {
                border-bottom: 2px solid #8e44ad; }
            .cms > header .navigation ul li .path ul li:last-of-type a {
              font-weight: bold; }
    .cms > header .navigation i {
      margin: 0 5px; }

.fouriginMarker {
  background-color: #ccc;
  border: 4px solid #eee;
  box-shadow: 0 4px 4px #aaaaaa;
  color: #111;
  cursor: pointer;
  opacity: 0.8;
  overflow: hidden;
  padding: 0;
  position: absolute;
  visibility: visible;
  z-index: 1; }
  .fouriginMarker .arrow_box {
    position: relative;
    background: #88b7d5;
    border: 4px solid #c2e1f5; }
  .fouriginMarker span {
    display: block;
    margin-left: 2rem;
    padding: 0.5rem; }
    .fouriginMarker span::before {
      background-color: #111;
      color: #eee;
      content: "\f040";
      display: inline-block;
      font-family: fontawesome;
      height: 100%;
      left: 0;
      padding: 0.5rem;
      position: absolute;
      top: 0;
      width: 1rem; }
    .fouriginMarker span.empty span:before {
      background-color: #da705f;
      color: #eee;
      content: "\f055"; }

body {
  font-size: 1em;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif; }

ul {
  list-style-type: none; }

.desktop .prototype {
  display: none !important; }

.desktop .sidePanel {
  width: 200px;
  height: 100%;
  position: fixed;
  background-color: #272626; }
  .desktop .sidePanel header {
    display: flex;
    align-items: center; }
    .desktop .sidePanel header .icon {
      display: inline-block;
      background-color: #4814d5;
      height: 23px;
      width: 23px;
      border-radius: 5px 5px 0 5px;
      position: relative;
      margin: 5px; }
      .desktop .sidePanel header .icon i {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%); }
    .desktop .sidePanel header .title {
      font-size: 1.2rem;
      padding: 2px 5px; }
  .desktop .sidePanel ul {
    margin: 0;
    padding: 0; }
    .desktop .sidePanel ul li {
      display: block;
      align-items: center;
      border-bottom: 1px solid #333;
      background-color: transparent; }
      .desktop .sidePanel ul li .label {
        width: calc(100% - 20px);
        cursor: pointer;
        padding: 10px; }
        .desktop .sidePanel ul li .label:hover {
          background-color: #1b1b1b; }
      .desktop .sidePanel ul li i {
        width: 20px; }

.desktop iframe#pageContent {
  overflow: hidden;
    background-color: #fff;
  margin-left: 200px;
  transition: margin .8s ease-in; }

.desktop.sidePanelClosed iframe#pageContent {
  margin-left: 0; }

.overlay {
  z-index: 5;
  display: none;
  color: #111;
  /* Flingh property, adjust in lib */ }
  .overlay section > div {
    margin: 40px; }
  .overlay section input {
    border: 0;
    background-color: #e0e0e0;
    padding: 10px 20px;
    width: calc(100% - 80px);
    font-size: 1.2em; }
  .overlay section .prototype {
    display: none; }
  .overlay section form > div {
    margin-bottom: 20px; }

.overlayBackgroundLayer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.77);
  display: none; }





.sidePanel {
  transition: left .4s ease-in-out;
  left: 0;
}
.sidePanel.inactive {
  left: -180px;
}

.editorLayer {
  position: absolute;
  top: 0;
  left: 200px; /* the width of the sidePanel - todo: get width from parents */
  width: 200px;
  height: 100%;
  background-color: #eee;
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}