@import "../../settings/colors";

.cms {
  background-color: $flingh_color_palette_gray_dark;
  color: $flingh_color_palette_medium-gray_light;

  > header {
    display: flex;
    align-items: center;
    padding: 20px;
    height: 80px;
    box-sizing: border-box;

    .logo {
      .brand {
        display: inline-block;
      }
      .product {
        display: inline-block;
        font-style: italic;
      }
    }

    .navigation {
      ul {
        padding: 0;
        margin: 0 1em;

        li {
          display: inline-block;
          padding: 5px;
          cursor: pointer;

          &:hover {
            background-color: $flingh_color_palette_gray_34_dark;
          }
        }
      }

      i {
        margin: 0 5px;
      }
    }
  }
}