@import "../../settings/colors";

.cms {
  background-color: $flingh_color_palette_gray_dark;
  color: $flingh_color_palette_medium-gray_light;

  > header {
    display: flex;
    align-items: center;
    padding: 20px;
    height: 80px;
    box-sizing: border-box;

    .logo {
      .brand {
        display: inline-block;
        font-size: 1.4em;
        line-height: 0;
      }
      .product {
        display: inline-block;
        font-style: italic;
      }
    }

    .navigation {
      ul {
        padding: 0;
        margin: 0 1em;

        li {
          display: inline-block;
          padding: 5px;
          cursor: pointer;

          &:hover {
            /*background-color: $flingh_color_palette_gray_34_dark;*/
            a {
              border: none;
            }
          }

          .path {
            background-color: #181818;
            padding: 5px;

            ul {
              li {
                padding: 0;
                margin: 0;

                &::before {
                  content: "/";
                  display: inline-block;
                  margin-left: 5px;
                  color: #6e6e6e;
                }

                a {
                  color: #ecf0f1;

                  &:hover {
                    border-bottom: 2px solid $flingh_color_palette_lila_dark;
                  }
                }

                &:last-of-type {
                  a {
                    font-weight: bold;
                  }
                }
              }
            }
          }
        }
      }

      i {
        margin: 0 5px;
      }
    }
  }
}