<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 	<include resource="org/springframework/boot/logging/logback/base.xml"/>

	<property name="IP_KARSTEN" value="172.16.1.40, 172.16.2.40, 172.16.3.40"/>
	<property name="IP_VLAD" 	value="172.16.1.52, 172.16.2.52, 172.16.3.52"/>
	<property name="IP_SIMON"	value="172.16.1.80, 172.16.2.80, 172.16.3.80"/>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date{ISO8601} %-5level %logger{35} - %msg %n</pattern>
		</encoder>
	</appender>

	<appender name="MULTIPLEX-SOCKET" class="de.huxhorn.lilith.logback.appender.ClassicMultiplexSocketAppender">
		<Compressing>true</Compressing>
		<ReconnectionDelay>30000</ReconnectionDelay>
		<IncludeCallerData>true</IncludeCallerData>
		<ApplicationIdentifier>theseus</ApplicationIdentifier>
		<RemoteHosts>
			${IP_SIMON},
			${IP_VLAD},
			${IP_KARSTEN},
			localhost
		</RemoteHosts>
	</appender>

	<!--<logger name="org.springframework" level="DEBUG"/>-->
	<logger name="org.springframework.security" level="DEBUG"/>

	<root level="WARN">
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="MULTIPLEX-SOCKET"/>
	</root>

</configuration>
