body {
    padding: 0;
    margin: 0;
    font-family: 'News Cycle', Arial, sans-serif;
}

a {
    color: #33669B;
}
a:hover {
    text-decoration: underline;
}

.cta {
    background-color: #33669B;
    color: #fff;
    padding: 5px 30px;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    border: 0;
    box-shadow: none;
}
.cta:hover {
    text-decoration: none;
    background-color: #3b84c1;
}

i.linkTypeIcon {
    margin-right: 10px;
    color: #77a5cc;
    font-size: 1.5em;
}

header,
nav.breadcrumb .wrapper,
.body .heroStageOffers,
.body .heroStageImages,
.body article,
footer .content {
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
}



header {
    z-index: 2;
    height: 110px;
}
header .logo {
    left: 60px;
    top: 0;
    position: absolute;
    height: 100px;
}
header .logo img {
    height: 100%;
}
header .meta {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

header .contacts {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .telephone,
header .languages {
    margin: 0 20px;
}
header .telephone {
    background-color: #33669B;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    margin: 0 20px 0 0;
    padding: 0 20px 0 10px;
}
header .telephone i {
    background-color: #fff;
    padding: 5px 5px 2px 5px;
    border-radius: 0 0 5px 5px;
    margin: 0 5px 10px 0;
}

header nav {
    text-align: right;
}

nav ul {
    list-style-type: none;
    margin: 30px 10px 5px 5px;
    padding: 0;
}
nav ul > li {
    display: inline-block;
    margin: 0 10px;
}
nav a {
    text-decoration: none;
    font-size: 18px;
}







.body article {
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 0;
    box-sizing: border-box;
}
.body article:first-of-type {
    margin-top: 0;
}
.body article.productStageSlider {
    margin: 0;
    max-width: none;
    background-image: url("../images/stage/background-loutraki.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    min-height: 200px;
    padding: 40px;
}

.body article.contextHighlights {
    background-color: #33669B;
    padding: 20px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 50;
}
.body article.contextHighlights .links {
    width: 60%;
}
.body article.contextHighlights .links a {
    color: #fff;
    margin-right: 30px;
    padding: 5px 15px;
    text-decoration: none;
}
.body article.contextHighlights .links a:hover {
    text-decoration: none;
    background-color: #3b84c1;
}
.body article.contextHighlights .links a::after {
    content: "\f101";
    font-family: FontAwesome;
    margin-left: 10px;
    display: inline-block;
}
.body article.contextHighlights .searchAndGo {
    width: 40%;
    color: #fff;
    display: flex;
    justify-content: end;
    align-items: center;
}

.body article.contextHighlights form label span {
    margin-right: 10px;
}
.body article.contextHighlights form input[type=text] {
    border: 0;
    margin: 0;
    height: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
}
.body article.contextHighlights form input[type=submit] {
    border: 0;
    background-color: #3b84c1;
    margin: 0;
    box-shadow: none;
}


.body article.forwardings {
    display: flex;
    justify-content: space-between;
    border: 1px solid #33669B;
    box-sizing: border-box;
    padding: 20px 40px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.body article.productDetails h1 {
    margin: 40px 20px 10px 20px;
}
.body article.productDetails .content {
    overflow: hidden;
    position: relative;
    display: flex;
}
.body article.productDetails .productDetailsSlider {
    width: 60%;
    padding: 0;
}
.body article.productDetails .productDetailsSlider .detailSlide .image {
    position: relative;
}
.body article.productDetails .productDetailsSlider .detailSlide .image img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.body article.productDetails .productDetailsSlider .sliderSlideLeft:after,
.body article.productDetails .productDetailsSlider .sliderSlideRight:after {
    right: 5px;
    background-color: rgba(255,255,255,.8);
    padding: 5px;
    font-size: 60px;
}
.body article.productDetails .productDetailsSlider .sliderSlideLeft:after {
    right: auto;
    left: 5px;
}

.body article.productDetails .description {
    width: 40%;
    padding: 0 40px 40px 40px;
    box-sizing: border-box;
    background-color: rgba(255,255,255,.8);
    border-radius: 0 0 30px 0;
}
.body article.productDetails .description .highlights {
    color: #33669B;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.body article.productDetails .transfer {
    text-align: right;
}

.body .priceBox {
    margin: 20px 0 10px 0;
    font-weight: bold;
    font-size: 30px;
    color: #222;
    text-align: right;
}



.body h1,
.body h2,
.body h3 {
    color: #33669B;
    margin: 0;
    font-size: 36px;
    font-weight: 500;
}
.body h1 {
    clear: both;
}
.body h2 {
    font-size: 29px;
    margin-bottom: 15px;
}
.body h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

/* Slider */
.slider img {
    width: 100%;
}
.slider .sliderSlideLeft::after,
.slider .sliderSlideRight::after {
    color: #33669B;
    font-size: 40px;
}
.slider .sliderPagination ul li {
    width: 20px;
    margin: 5px;
}
.slider .sliderPagination ul li.active {
    background-color: #33669B;
}

.slider.heroStageOffers,
.slider.heroStageImages {
    padding: 0 40px;
}
.slider.heroStageOffers .sliderSlideLeft::after,
.slider.heroStageImages .sliderSlideLeft::after,
.slider.heroStageOffers .sliderSlideRight::after,
.slider.heroStageImages .sliderSlideRight::after {
    background-color: #fff;
    padding: 5px;
}
.slider.heroStageOffers li .heroStageOffer,
.slider.heroStageImages li .heroStageImage {
    display: flex;
    padding: 20px;
    background-color: rgba(255,255,255,.7);
}
.slider.heroStageOffers li .heroStageOffer .image {
    position: relative;
    width: 100%;
}
.slider.heroStageOffers.heroStageOffersWithDescription li .heroStageOffer .image {
    width: 45%;
}
.slider.heroStageImages li .heroStageOffer .image {
    width: 100%;
}
.slider.heroStageOffers li .heroStageOffer .teaser {
    position: absolute;
    bottom: 20%;
    padding: 10px 20px;
    display: inline-block;
    background-color: #fff;
    right: 10%;
    color: #33669B;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
}
.slider.heroStageOffers li .heroStageOffer h2 {
    font-size: 30px;
}
.slider.heroStageOffers.heroStageOffersWithDescription li .heroStageOffer .description {
    padding: 20px 40px;
    color: #33669B;
    font-size: 19px;
    position: relative;
    width: 55%;
}

.slider.heroStageOffers li .heroStageOffer .transfer {
    position: absolute;
    right: 0;
    bottom: 0;
}
.slider.heroStageOffers li .heroStageOffer .transfer .cta {
    padding: 5px 50px;
}

.slider.offerCards .sliderWrapper > ul > li {
    padding: 0 30px;
    font-size: 14px;
    box-sizing: border-box;
}
.slider.offerCards .image {
    overflow: hidden;
}
.slider.offerCards img {
    height: 110px;
    width: auto;
}
.slider.offerCards h3 {
    margin: 0 0 10px 0;
    color: #33669B;
    font-size: 17px;
}
.slider.offerCards .transfer {
    text-align: right;
}
.slider.offerCards .price {
    font-weight: bold;
    font-size: 18px;
    text-align: right;
    margin: 10px 0;
}


article.search .searchFilter{
    padding: 20px;
    margin-bottom: 0;
    background-color: #e1eaf0;
}
article.search .region {
    display: flex;
    align-items: center;
}
article.search .region h3 {
    margin: 0;
    padding: 0;
}
article.search .region select {
    border: 0;
    font-size: 16px;
    color: #fff;
    background-color: #33669B;
    margin-left: 10px;
    padding: 5px 15px 2px 15px;
}
article.search form fieldset {
    border: 0;
}
article.search form label {
    cursor: pointer;
    background-color: #fff;
    padding: 0 10px;
    border-radius: 2px;
}
article.search form label input {
    display: none;
}
article.search form label input ~ span:before {
    content: "\f096";
    font-family: FontAwesome;
    font-size: 20px;
    color: #33669B;
    margin-right: 10px;
    width: 15px;
    display: inline-block;
}
article.search form label input:checked ~ span:before {
    content: "\f14a";
}
article.search form label {
    margin-left: 20px;
}
article.search form label:first-of-type {
    margin-left: 0;
}
article.search form .filterCategory {
    display: flex;
    margin-top: 10px;
}
article.search form .filterCategory h3 {
    padding-right: 20px;
}


article.search form .imageList {
    display: flex;
    justify-content: space-between;
}
article.search form .imageListItem {
    width: 30%;
}
article.search form .imageListItem label {
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}
article.search form .imageList input ~ span:before {
    display: none;
}
article.search form .imageList input ~ span:after {
    content: "\f096";
    font-family: FontAwesome;
    color: #33669B;
    position: absolute;
    right: -10px;
    top: 10px;
    font-size: 30px;
}
article.search form .imageList input:checked ~ span:after {
    content: "\f14a";
}

article.search form .imageList img {
    width: 100%;
    max-height: 80px;
}


article.searchResults {
    margin-top: 0;
}
article.searchResults .legend {
    margin-bottom: 10px;
    text-align: right;
    display: flex;
    justify-content: space-between;
}
article.searchResults .legend label {
    background-color: #fff;
    padding: 5px 10px;
}
article.searchResults .legend i {
    color: #33669B;
}
article.searchResults .legend span.amount {
    font-weight: bold;
    margin-left: 5px;
}
article.searchResults .legend span {
    font-size: 14px;
}
article.searchResults .overlay {
    text-align: center;
    display: none;
}
article.searchResults .overlay.active {
    display: block;
}
article.searchResults .overlay i {
    font-size: 30px;
    color: #33669B;
}

article .linksImageTeaserWrapper {
    display: flex;
}
article .linksImageTeaserWrapper .linkImageTeaser {
    margin-right: 20px;
    width: calc(33% - 40px);
}
article .linksImageTeaserWrapper .linkImageTeaser:nth-of-type(3n) {
    margin-right: 0;
}
article .linksImageTeaserWrapper .linkImageTeaser a {
    text-decoration: none;
}
article .linksImageTeaserWrapper .linkImageTeaser h2 {
    color: #fff;
    margin: 0;
    font-size: 22px;
    line-height: 1.2;
}
article .linksImageTeaserWrapper .linkImageTeaser img {
    display: block;
    width: 100%;
}
article .linksImageTeaserWrapper .linkImageTeaser p {
    margin: 0;
}
article .linksImageTeaserWrapper .linkImageTeaser .description {
    background-color: #33669B;
    color: #fff;
    padding: 10px 20px;
    position: relative;
}
article .linksImageTeaserWrapper .linkImageTeaser .description:after {
    content: "\f105";
    font-family: FontAwesome;
    font-size: 40px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
article .linksImageTeaserWrapper .linkImageTeaser:hover .description {
    background-color: #3b84c1;
}


footer {
    background-color: #212121;
    color: #ccc;
    padding: 20px;
    font-size: 14px;
    margin-top: 80px;
}
footer .content {
    display: flex;
}
footer .logo {
    width: 20%;
    margin: 0 40px 0 0;
}
footer .logo img {
    width: 100%;
}
footer .company {
    width: 20%;
    margin: 0 20px;
}
footer .links {
    display: flex;
}
footer .links > div {
    margin-right: 20px;
}
footer .links h3 {
    margin-bottom: 2px;
}

/**
ULis
 */


ul.imageArticleList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.imageArticleList li {
    display: flex;
    margin-bottom: 20px;
}
ul.imageArticleList li .image {
    width: 30%;
}
ul.imageArticleList li .image img {
    width: 100%;
}
ul.imageArticleList li .copy {
    width: 70%;
    padding: 0 0 0 40px;
}

ul.imageArticleList li .slider.imageSlider .detailSlide .image {
    width: 100%;
}


ul.smallItemGalleryList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
ul.smallItemGalleryList li {
    width: calc(36% - 55px);
    margin-bottom: 40px;
}
ul.smallItemGalleryList li.hidden {
    display: none;
}

ul.smallItemGalleryList li .slider {
    padding: 0;
}
ul.smallItemGalleryList li .slider .sliderSlideLeft:after,
ul.smallItemGalleryList li .slider .sliderSlideRight:after {
    background-color: rgba(255,255,255,.8);
    padding: 0 3px;
}
ul.smallItemGalleryList li .category {
    font-size: 14px;
    color: #414040;
}
ul.smallItemGalleryList li .image {
    border-radius: 0 0 10px 0;
    overflow: hidden;
    background-color: #ccc;
    height: 230px;
}
ul.smallItemGalleryList li img {
    width: auto;
    height: 100%;
    display: block;
    margin: 0 auto;
}
ul.smallItemGalleryList li .price {
    font-weight: bold;
    font-size: 20px;
}
ul.smallItemGalleryList li a.cta {
    float: right;
}
ul.smallItemGalleryList li h3 a {
    text-decoration: none;
}
ul.smallItemGalleryList li h3:hover a {
    text-decoration: underline;
}