@import "../_settings/_colors.scss";

.content {
  background-color: $color_basic_dark_background;
  color: $color_font_on_dark_background;
  position: sticky;
  top: 0;
  z-index: 100;
}

.iFrameContent {
  position: relative;
  display: flex;

  aside {
    background-color: $color_alternative_dark_background;
    color: $color_font_on_dark_background;
    width: 25px;
    bottom: 0;
    display: block;

    ul {
      position: sticky;
      top: 83px;

      li {

        span {
          transform: rotate(180deg);
          white-space: nowrap;
          background-color: #262626;
          padding: 5px;
          writing-mode: vertical-rl;
          box-sizing: border-box;
        }

        .layer {
          left: 25px;
        }
      }
    }
  }

  iframe#pageContent {
    background-color: #fff;
    display: block;
    padding: 0;
    margin: 0;
    min-height: 100%;
    overflow: scroll;
  }
}