@import "../_settings/_colors.scss";

.content {
  background-color: $color_basic_dark_background;
  color: $color_font_on_dark_background;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 75px;
}

.iFrameContent {
  position: relative;
  display: flex;
  top: 148px;

  aside {
    background-color: $color_alternative_dark_background;
    color: $color_font_on_dark_background;
    width: 25px;
    bottom: 0;
    top: 148px;
    position: fixed;
    z-index: 95;

    > ul {
      position: sticky;
      top: 83px;

      > li {
        cursor: pointer;

        > span {
          transform: rotate(180deg);
          white-space: nowrap;
          background-color: #262626;
          padding: 6px;
          writing-mode: vertical-rl;
          box-sizing: border-box;
          line-height: 1;
          width: 25px;

          &:hover {
            background-color: $base_color_medium_gray3;
          }
          &.active {
            background-color: $color_status_active;
          }
        }

        .layer {
          left: 0;
        }
      }
    }
  }


  .layerContainer {
    position: fixed;
    left: 25px;
    top: 148px;
    height: calc(100% - 148px);

    > .layer {
      background-color: $color_alternative_dark_background;
      border-left: 1px solid $color_font_on_dark_background;
      color: $color_font_on_dark_background;

      .layer {
        background-color: $color_layer_editor_background;
        color: $base_color_medium_dark_gray;

        input,
        textarea {
          background-color: $base_color_medium_gray3;
          color: $base_color_medium_gray;
          padding: 5px;
          line-height: 1.1;
          font-size: .9rem;

          &[disabled] {
            background-color: $base_color_light_gray;
          }
        }

        label {
          background-color: $base_color_medium_gray4;

          span {
            color: $base_color_medium_light_gray;
            padding: 5px 5px 0 5px;
          }
        }
      }
    }
  }

  iframe#pageContent {
    background-color: #fff;
    display: block;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    overflow: scroll;
    margin-left: 25px;
    box-sizing: border-box;
  }
}