@import "../_settings/_colors.scss";

header {
  padding: 10px 0 0 0;
  background-color: #fff;
  color: $color_font_on_light_background;
  position: fixed;
  width: 100%;
  z-index: 1;

  .metaInformationBar {
    display: flex;
    align-items: flex-end;

    a {
      color: inherit;
    }

    nav {
      font-size: 1.05rem;

      ul {
        display: flex;

        li {
          padding: 5px 10px;

          &.selected {
            background-color: $color_basic_dark_background;
            color: $color_font_on_dark_background;
          }
        }
      }
    }
  }
}