/* Split the screen in half */
body {
    font-family: sans-serif;
}
h2 {
    margin: 0 0 30px 0;
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    color: #4a4a4a;
    padding: 15px 20px 5px 5px;
    width: 100%;
    border-bottom: 2px solid #00b393;
}
h3 {
    margin-left: 20px;
}
.split {
    width: 46%;
    position: fixed;
    z-index: 1;
    top: 50px;
    bottom: 0;
    overflow-x: hidden;
    margin: 10px;
    padding: 20px;
}

/* Control the left side */
.left {
    left: 0;
    color: black;
}

/* Control the right side */
.right {
    right: 0;
    color: black;
}

/* If you want the content centered horizontally and vertically */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

table.display {
    color: black;
}

#user-controls {
    color: white;
}

#request-controls {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: white;
    background: #9d9d9d;
    text-align: center;
}

#request-details {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, .8);
}
#request-details .overlay {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    padding: 40px;
    background: #eeeeee;
    text-align: left;
    border: 2px solid #00b393;
    overflow-y: scroll;
}

#request-details h3 {
    margin-left: 0;
    font-size: 24px;
}

.dataTableFilter {
    margin: 20px 0;
}

#request-details .close {
    font-size: 40px;
    color: #00b393;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#request-details ul {
    padding-left: 15px;
}

#request-details li {
    list-style: none;
    padding: 5px;
}

#request-details li .fileIcon {
    font-size: 30px;
}
#request-details li .fileIcon.fa-file-pdf-o {
    color: #d54d4d;
}
#languageControls {
    display: none;
    position: fixed;
    z-index: 1;
    top: 55px;
}

table.dataTable tbody tr.selected,
table.dataTable.display tbody tr.odd.selected > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_1,
table.dataTable.stripe tbody tr.odd.selected, table.dataTable.display tbody tr.odd.selected {
    background-color: #00b393 !important;
    color: #fff !important;
}
table.dataTable tbody tr td {
    cursor: pointer;
    text-align: center;
}
table.dataTable tbody tr td:first-of-type {
    text-align: left;
}

table.dataTable tr.group td {
    border-bottom: 2px solid #aaa;
    padding-top: 10px;
    font-weight: bold;
    background-color: #ccc;
}

table.dataTable tr.group td:first-of-type::before {
    content: "-";
    display: inline-block;
    width: 20px;
    font-size: 22px;
    font-weight: bold;
    color: #00b393;
}

table.dataTable tr.group.closed td:first-of-type::before {
    content: "+";
}

.ui-button  {
    padding: .05em .5em;
}

.dataTableFilterList {
    display: flex;
}
.dataTableFilterList__item {
    padding-right: 15px;
}



.buttonLca,
.buttonCta {
    padding: 5px 10px;
    border: 0;
    background-color: #c5c5c5;
}
.buttonCta {
    background-color: #00b393;
    color: #fff;
}



.request-stages {
    display: flex;
    margin: 0 0 20px 0;
}
.request-stage {
    padding: 10px 20px;
    border: 1px solid #ccc;
}
.request-stage-title {
    font-weight: bold;
    text-align: center;
}
.request-stage-status {
    text-align: center;
    margin: 10px 0;
    font-size: 40px;
    color: #00b393;
}
.request-stage-action {
    text-align: center;
}


.request-attachments a {
    font-size: 14px;
    color: #00b393;
}


#request-details h4 {
    display: block;
    font-weight: bold;
    color: #4a4a4a;
    padding: 15px 20px 5px 5px;
    width: 100%;
    border-bottom: 2px solid #00b393;
}