/* Split the screen in half */
body {
    font-family: sans-serif;
}
h2 {
    margin: 0 0 30px 0;
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    color: #4a4a4a;
    padding: 15px 20px 5px 5px;
    width: 100%;
    border-bottom: 2px solid #00b393;
}
h3 {
    margin-left: 20px;
}
.split {
    width: 46%;
    position: fixed;
    z-index: 1;
    top: 50px;
    bottom: 0;
    overflow-x: hidden;
    margin: 10px;
    padding: 20px;
}

/* Control the left side */
.left {
    left: 0;
    color: black;
}

/* Control the right side */
.right {
    right: 0;
    color: black;
}

/* If you want the content centered horizontally and vertically */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

table.display {
    color: black;
}

#user-controls {
    color: white;
}

#request-controls {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: white;
    background: #514f4f;
    text-align: center;
}

#request-details {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, .8);
}
#request-details .overlay {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    padding: 40px;
    background: #eeeeee;
    text-align: left;
    border: 1px solid #d7d7d7;
    overflow-y: scroll;
}

#request-details h3 {
    margin-left: 0;
    font-size: 24px;
}

.dataTableFilter {
    margin: 20px 0;
}

#request-details .close {
    font-size: 40px;
    color: #00b393;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#request-details ul {
    padding-left: 15px;
}

#request-details li {
    list-style: none;
    padding: 5px;
}

#request-details li .fileIcon {
    font-size: 30px;
}
#request-details li .fileIcon.fa-file-pdf-o {
    color: #d54d4d;
}
#languageControls {
    display: none;
    position: fixed;
    z-index: 1;
    top: 55px;
}

table.dataTable tbody tr.selected,
table.dataTable.display tbody tr.odd.selected > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_1,
table.dataTable.stripe tbody tr.odd.selected, table.dataTable.display tbody tr.odd.selected {
    background-color: #00b3933d !important;
}
table.dataTable.display tbody tr.even.selected > .sorting_1 {
    background-color: transparent !important;
}
table.dataTable tbody tr td {
    cursor: pointer;
    text-align: center;
}
table.dataTable tbody tr td:first-of-type {
    text-align: left;
}

table.dataTable tr.group td {
    border-bottom: 2px solid #aaa;
    padding-top: 10px;
    font-weight: bold;
    background-color: #ccc;
}

table.dataTable tr.group td:first-of-type::before {
    content: "-";
    display: inline-block;
    width: 20px;
    font-size: 22px;
    font-weight: bold;
    color: #00b393;
}

table.dataTable tr.group.closed td:first-of-type::before {
    content: "+";
}

.ui-button  {
    padding: .05em .5em;
}

.dataTableFilterList {
    display: flex;
}
.dataTableFilterList__item {
    padding-right: 15px;
}



.buttonLca,
.buttonCta {
    border: 0;
    cursor: pointer;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 3px;
    border: none;
    background-color: #aaaeaf;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}
.buttonCta {
    background-color: #00b393;
    color: #fff;
}



.request-stages {
    display: flex;
    margin: 0 0 20px 0;
}
.request-stage {
    padding: 10px 20px;
    border: 1px solid #ccc;
    margin-right: 20px;
    margin-top: 50px;
    position: relative;
    background-color: #fff;
    border-radius: 7px;
}
.request-stage.request-stage--done {
    background-color: #2d4d47;
    color: #fff;
}
.request-stage.request-stage--current {
    background-color: #79b0aa;
}
.request-stage.request-stage--current:before {
    content: "Aktueller Stand";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    text-align: center;
    background-color: #3a7f82;
    color: #fff;
    transform: translateY(-50px);
    border-radius: 7px 7px 0 0;
    line-height: 50px;
    font-size: 16px;
}
.request-stage:after {
    content: "";
    position: absolute;
    height: 5px;
    background-color: #bebebe;
    width: 22px;
    right: 0;
    transform: translateX(22px);
    top: calc(50% - 5px);
    z-index: 50;
}
.request-stage:last-of-type:after {
    display: none;
}
.request-stage.request-stage--done:after {
    background-color: #2d4d47;
}

.request-stage header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.request-stage-title {
    font-weight: bold;
    text-align: center;
    font-size: 14px;
}
.request-stage-status {
    text-align: center;
    margin: 10px 0;
    font-size: 40px;
    color: #00b393;
}
.request-stage-edit-action {
    display: flex;
    justify-content: center;
}

.request-current-stage-actions-wrapper {
    margin: 20px 0;
}
.request-current-stage-actions-wrapper form {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid #ccc;
}
.request-current-stage-actions {
    display: flex;
}
.request-current-stage-actions > span {
    padding-right: 10px;
}
.request-current-stage-actions-message {
    display: flex;
    align-items: center;
}
.request-current-stage-actions-message .label {
    font-size: 11px;
    padding: 0 10px 0 40px;
}

.request-attachments a {
    font-size: 14px;
    color: #00b393;
}


#request-details section {
    margin-bottom: 40px;
}
#request-details .sectionBody {
    padding-left: 20px;
}
#request-details h4 {
    display: block;
    font-weight: bold;
    color: #4a4a4a;
    padding: 15px 20px 5px 5px;
    margin: 0 0 20px 0;
    width: 100%;
    border-bottom: 2px solid #00b393;
}
#request-details h5 {
    border-bottom: 0;
    font-size: 14px;
}

#state-value {
    margin: 1em;
    padding: 0.3em;
    display: inline-block;
}

.state-value-cell {
    width: 250px;
}




.processBar {
    height: 20px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    background-color: #eee;
    position: relative;
}
.processBar .processBar__handle {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 40%;
    background-color: #00b393;
}
.processBar .processBar__label {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    color: #111;
    background-color: rgba(255,255,255,.6);
    font-size: 11px;
    line-height: 20px;
    padding: 0 5px;
    box-sizing: border-box;
    transform: translateX(-50%);
}

.processName {
    font-size: 12px;
    line-height: 1.2;
    display: inline-block;
    background-color: #f2e383;
    padding: 5px 10px;
}

.stage-value-cell {
    width: 250px;
}
.state-value-cell {
    text-align: left;
}

.state-value-cell .statusIcon,
.request-status .statusIcon {
    color: #ccc;
    display: inline-block;
    margin-right: 10px;
}
.state-value-cell .statusIcon:before,
.request-status .statusIcon:before {
    font-size: 24px;
    color: #fff;
    padding: 5px;
}

.statusState {
    font-size: 12px;
}


.request-stage-status .statusCurrent,
.request-stage-status .statusComplete {
    display: none;
}
.request-stage-status .statusIncomplete {
    display: block;
}

/*Incomplete*/
.statusIncomplete {
    display: block;
}
.statusCurrent,
.statusComplete {
    display: none;
}

/*Complete*/
.request-stage--done .statusComplete {
    display: block;
}
.request-stage--done .statusCurrent,
.request-stage--done .statusIncomplete {
    display: none;
}

/*Current*/
.request-stage--current .statusCurrent {
    display: block;
    color: #fff;
}
.request-stage--current .statusComplete,
.request-stage--current .statusIncomplete {
    display: none;
}

.PENDING.statusIcon:before,
.PROCESSING.statusIcon:before,
.WAITING_FOR_APPROVAL.statusIcon:before,
.WAITING_FOR_INPUT.statusIcon:before {
    background-color: #ffaa34;
}

.REJECTED.statusIcon:before,
.FAILED.statusIcon:before {
    background-color: #b3233f;
}

.READY_TO_APPROVE.statusIcon:before {
    background-color: #18beee;
}

.DONE.statusIcon:before {
    background-color: #00b393;
}
