<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Theseus - Classifications: Types</title>

    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="assets/css/theseus.css"/>
    <link rel="stylesheet" type="text/css" href="assets/libs/font-awesome-4.6.1/css/font-awesome.min.css"/>
    <!---->
    <script type="text/javascript" src="assets/libs/jquery/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="assets/scripts/develop-types.js"></script>
</head>
<body>
<header>
    <nav>
        <ul>
            <li class="title">
                Theseus
            </li>
            <li class="selected">
                <a href="#">
                    <i class="fa fa-bookmark-o"></i>
                    Classifications</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-cubes"></i>
                    Products</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-pie-chart"></i>
                    Properties</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-th"></i>
                    Views</a>
            </li>
        </ul>
    </nav>
</header>
<!---->
<!---->
<section id="mainSection">

    <!---->
    <section id="tabs">
        <nav class="tabs">
            <ul>
                <li>
                    <a href="classifications.html">
                        <i class="fa fa-bookmark-o"></i>
                        Classifications</a>
                </li>
                <li class="selected">
                    <a href="types.html">
                        <i class="fa fa-map-o" aria-hidden="true"></i>
                        Types</a>
                </li>
            </ul>
        </nav>
    </section>
    <!---->


    <h1>Classifications &gt; Types</h1>

    <section class="listView">
        <nav class="context">
            <ul>
                <li class="button action">
                    <a href="#addClassificationType">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Add
                    </a>
                </li>
            </ul>
            <!---->
            <ul class="toggleNavigation">
                <li class="selected">
                    Definition
                </li>
                <li>
                    Translations
                </li>
            </ul>
            <!---->
            <div class="search">
                <form>
                    <input id="listSearch" placeholder="Search..." value="" type="search"/>
                    <span class="serachIcon">
                       <i class="fa fa-search"></i>
                    </span>
                </form>
            </div>
        </nav>

        <div class="contextMenu">
            <span>
                <i class="fa fa-bars"></i>
            </span>
        </div>

        <div class="listWrapper">
            <table id="listView">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="prototype">
                        <td data-field="code" data-value="">
                        </td>
                        <td data-field="description" data-value="">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</section>
<!---->
<!---->
<!---->
<!---->
<div class="contextMenuOverlay" id="listItemContextMenu">
    <ul>
        <li>
            <i class="fa fa-pencil" aria-hidden="true"></i>
            <a href="#editClassificationType">Edit</a>
        </li>
        <li>
            <i class="fa fa-times" aria-hidden="true"></i>
            <a href="#deleteClassificationType">Delete</a>
        </li>
    </ul>
</div>
<!---->
<!---->
<div class="overlayWindow" id="addClassificationType">
    <form action="/classificationType" method="put">
        <header>
            <h3>Add Classicifaction Type</h3>
            <div class="close button">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
        </header>
        <section>
            <div class="tableList">
                <div class="row">
                    <div class="rowHeader">
                        Code
                    </div>
                    <div class="rowData">
                        <input type="text" name="id"/>
                    </div>
                </div>
                <div class="row">
                    <div class="rowHeader">
                        Description
                    </div>
                    <div class="rowData">
                        <textarea name="description"></textarea>
                    </div>
                </div>
            </div>

        </section>
        <footer>
            <ul>
                <li>
                    <i class="fa fa-reply" aria-hidden="true"></i>
                    Cancel
                </li>
                <li class="primeAction">
                    <label>
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        Save
                        <input type="submit"/>
                    </label>
                </li>
            </ul>
        </footer>
    </form>
</div>
<!---->
<div class="overlayWindow" id="editClassificationType">
    <form action="/classificationType" method="post">
        <header>
            <h3>Edit Classicifaction Type</h3>
            <div class="close button">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
        </header>
        <section>
            <div class="tableList">
                    <div class="row">
                        <div class="rowHeader">
                            Code (ID)
                        </div>
                        <div class="rowData">
                            <input type="text" name="id" value=""/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="rowHeader">
                            Description
                        </div>
                        <div class="rowData">
                            <textarea name="description"></textarea>
                        </div>
                    </div>
                </div>
        </section>
        <footer>
            <ul>
                <li>
                    <i class="fa fa-reply" aria-hidden="true"></i>
                    Cancel
                </li>
                <li class="primeAction">
                    <label>
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        Save
                        <input type="submit"/>
                    </label>
                </li>
            </ul>
        </footer>
    </form>
</div>
<!---->
<div class="overlayWindow" id="deleteClassificationType">
    <form action="/classificationType" method="delete">
        <header>
            <h3>Delete Classicifaction Type</h3>
            <div class="close button">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
        </header>
        <section>
            Do you really want to delete this classification type?

            <div class="tableList">
                <div class="row">
                    <div class="rowHeader">
                        Code (ID)
                    </div>
                    <div class="rowData">
                        <input type="text" name="id" value=""/>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <ul>
                <li>
                    <i class="fa fa-reply" aria-hidden="true"></i>
                    Cancel
                </li>
                <li class="primeAction">
                    <label>
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        Delete
                        <input type="submit"/>
                    </label>
                </li>
            </ul>
        </footer>
    </form>
</div>
<!---->
</body>
</html>