/* General basics */

/* line 11, ../../resources/sass/theseus.scss */
.prototype {
  display: none;
}

/* Navigations basic */
/* line 19, ../../resources/sass/theseus.scss */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
/* line 25, ../../resources/sass/theseus.scss */
nav ul li {
  float: left;
  padding: 1rem;
  margin-left: 0.2rem;
  cursor: pointer;
  background-color: #444;
  color: #aaa;
}
/* line 33, ../../resources/sass/theseus.scss */
nav ul li:hover {
  text-decoration: underline;
}
/* line 37, ../../resources/sass/theseus.scss */
nav ul li:first-of-type {
  margin-left: 0;
}
/* line 41, ../../resources/sass/theseus.scss */
nav ul li.action {
  background-color: #e62739;
  border-radius: 10px;
  text-align: center;
  color: #fff;
}
/* line 47, ../../resources/sass/theseus.scss */
nav ul li.action a {
  color: #fff;
}
/* line 52, ../../resources/sass/theseus.scss */
nav ul li.button {
  padding: 0;
}
/* line 55, ../../resources/sass/theseus.scss */
nav ul li.button a {
  padding: 1rem;
  display: inline-block;
}
/* line 62, ../../resources/sass/theseus.scss */
nav ul:after {
  content: "";
  display: block;
  clear: both;
}
/* line 70, ../../resources/sass/theseus.scss */
nav ul.toggleNavigation li {
  margin: 0;
  background-color: #eee;
  color: #aaa;
}
/* line 76, ../../resources/sass/theseus.scss */
nav ul.toggleNavigation li.selected {
  background-color: #444;
  color: #aaa;
}

/* Table List */
/* line 87, ../../resources/sass/theseus.scss */
.tableList {
  display: table;
  width: 100%;
}
/* line 91, ../../resources/sass/theseus.scss */
.tableList .row {
  display: table-row;
}
/* line 94, ../../resources/sass/theseus.scss */
.tableList .row .rowHeader, .tableList .row .rowData {
  display: table-cell;
  padding: 0.5em;
}
/* line 99, ../../resources/sass/theseus.scss */
.tableList .row .rowHeader {
  width: 6em;
  vertical-align: top;
}
/* line 104, ../../resources/sass/theseus.scss */
.tableList .row input, .tableList .row select, .tableList .row textarea {
  margin: 0;
  padding: 0.5em;
  border: 0;
  background-color: #e1e8f0;
  color: #444;
  box-sizing: border-box;
  width: 100%;
  font-size: 1rem;
}

/* Resets */
/* line 119, ../../resources/sass/theseus.scss */
html {
  height: 100%;
}

/* line 123, ../../resources/sass/theseus.scss */
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* line 129, ../../resources/sass/theseus.scss */
body, input, textarea {
  font-family: 'Roboto Condensed', Arial, sans-serif;
}

/* line 133, ../../resources/sass/theseus.scss */
a {
  color: gray;
}

/* Header */
/* line 139, ../../resources/sass/theseus.scss */
header {
  background-color: #444;
  color: #aaa;
}
/* line 143, ../../resources/sass/theseus.scss */
header .title {
  color: #eee;
  font-weight: bold;
}
/* line 151, ../../resources/sass/theseus.scss */
header nav ul li {
  margin-left: 0;
  background-color: transparent;
}
/* line 155, ../../resources/sass/theseus.scss */
header nav ul li.selected {
  background-color: #6ed3cf;
  color: #444;
}
/* line 159, ../../resources/sass/theseus.scss */
header nav ul li.selected a {
  color: #444;
}
/* line 164, ../../resources/sass/theseus.scss */
header nav ul li a {
  text-decoration: none;
}

/* Sections */
/* line 174, ../../resources/sass/theseus.scss */
section#tabs {
  border-bottom: 1px solid #aaa;
  margin-top: 2em;
}
/* line 178, ../../resources/sass/theseus.scss */
section#tabs ul li {
  background-color: #fff;
  border-bottom: 4px solid #fff;
  padding: 0.5rem;
}
/* line 183, ../../resources/sass/theseus.scss */
section#tabs ul li.selected, section#tabs ul li:hover {
  border-color: #9068be;
  text-decoration: none;
}
/* line 188, ../../resources/sass/theseus.scss */
section#tabs ul li.selected a, section#tabs ul li:hover a {
  color: #444;
}
/* line 193, ../../resources/sass/theseus.scss */
section#tabs ul li a {
  text-decoration: none;
  border: none;
  color: #aaa;
}
/* line 198, ../../resources/sass/theseus.scss */
section#tabs ul li a:hover, section#tabs ul li a:active {
  border-bottom: none;
  text-decoration: none;
}

/* line 206, ../../resources/sass/theseus.scss */
section#mainSection {
  padding: 1rem;
}

/* line 210, ../../resources/sass/theseus.scss */
.contextMenu {
  padding-top: 2rem;
  overflow: hidden;
}
/* line 214, ../../resources/sass/theseus.scss */
.contextMenu span {
  float: right;
  font-size: 1.5rem;
  cursor: pointer;
}

/* line 222, ../../resources/sass/theseus.scss */
section.listView .listWrapper {
  background-color: #e1e8f0;
  margin-top: 2rem;
}
/* line 226, ../../resources/sass/theseus.scss */
section.listView .listWrapper table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}
/* line 231, ../../resources/sass/theseus.scss */
section.listView .listWrapper table thead tr {
  background-color: #6ed3cf;
}
/* line 234, ../../resources/sass/theseus.scss */
section.listView .listWrapper table thead tr th {
  height: 2rem;
  padding: 0.25rem 0.5rem;
  text-align: left;
}
/* line 242, ../../resources/sass/theseus.scss */
section.listView .listWrapper table tbody tr {
  cursor: pointer;
}
/* line 245, ../../resources/sass/theseus.scss */
section.listView .listWrapper table tbody tr:hover {
  background-color: #444;
  color: #fff;
}
/* line 250, ../../resources/sass/theseus.scss */
section.listView .listWrapper table tbody tr.active {
  background-color: #9068be;
  color: #fff;
}
/* line 255, ../../resources/sass/theseus.scss */
section.listView .listWrapper table tbody tr td {
  height: 2rem;
  padding: 0 1rem;
  border-bottom: 1px solid #fff;
}
/* line 263, ../../resources/sass/theseus.scss */
section.listView .listWrapper table tbody tr:last-of-type td {
  border-bottom: none;
}

/* Contexts */
/* line 277, ../../resources/sass/theseus.scss */
nav.context:after {
  content: "";
  display: block;
  clear: both;
}
/* line 283, ../../resources/sass/theseus.scss */
nav.context ul {
  display: inline-block;
}
/* line 287, ../../resources/sass/theseus.scss */
nav.context ul:after {
  display: none;
}
/* line 292, ../../resources/sass/theseus.scss */
nav.context .search {
  float: right;
  background-color: #9068be;
  overflow: hidden;
  padding: 0.75rem;
  border-radius: 8px;
  color: #fff;
}
/* line 300, ../../resources/sass/theseus.scss */
nav.context .search input {
  border: 0;
  background-color: transparent;
  color: #fff;
  display: inline-block;
  min-width: 20rem;
  font-size: 1.25rem;
}

/* Context Menu Overlays */
/* line 314, ../../resources/sass/theseus.scss */
.contextMenuOverlay {
  position: absolute;
  margin-top: 4px;
  background-color: #aaa;
  box-shadow: 2px 2px 4px #444;
  display: none;
}
/* line 321, ../../resources/sass/theseus.scss */
.contextMenuOverlay ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 326, ../../resources/sass/theseus.scss */
.contextMenuOverlay ul li {
  padding: 0.25rem 2rem;
  margin: 0;
  cursor: pointer;
  border-bottom: 1px solid #fff;
}
/* line 332, ../../resources/sass/theseus.scss */
.contextMenuOverlay ul li:last-of-type {
  border-bottom: none;
}
/* line 336, ../../resources/sass/theseus.scss */
.contextMenuOverlay ul li:hover {
  background-color: #eee;
}

/* Overlay window */
/* line 344, ../../resources/sass/theseus.scss */
.overlayWindow {
  position: fixed;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 80%;
  left: 50%;
  background-color: #fff;
  box-shadow: 2px 2px 4px #444;
  display: none;
}
/* line 354, ../../resources/sass/theseus.scss */
.overlayWindow .button {
  cursor: pointer;
}
/* line 359, ../../resources/sass/theseus.scss */
.overlayWindow form label {
  cursor: pointer;
}
/* line 362, ../../resources/sass/theseus.scss */
.overlayWindow form label input[type=submit] {
  display: none;
}
/* line 368, ../../resources/sass/theseus.scss */
.overlayWindow header {
  background-color: #6ed3cf;
  color: #444;
  position: relative;
}
/* line 373, ../../resources/sass/theseus.scss */
.overlayWindow header h3 {
  float: left;
  width: 80%;
  margin: 0.5rem;
  padding: 0;
}
/* line 380, ../../resources/sass/theseus.scss */
.overlayWindow header .close.button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 2em;
  width: 2em;
  background-color: #e62739;
  color: #fff;
  text-align: center;
  border-radius: 50%;
}
/* line 393, ../../resources/sass/theseus.scss */
.overlayWindow header:after {
  content: "";
  display: block;
  clear: both;
}
/* line 400, ../../resources/sass/theseus.scss */
.overlayWindow section {
  padding: 1rem;
}
/* line 404, ../../resources/sass/theseus.scss */
.overlayWindow footer {
  padding: 1rem;
  overflow: hidden;
}
/* line 408, ../../resources/sass/theseus.scss */
.overlayWindow footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 413, ../../resources/sass/theseus.scss */
.overlayWindow footer ul li {
  float: left;
  margin-left: 0.5rem;
  padding: 0.5rem;
  background-color: #444;
  color: #aaa;
  cursor: pointer;
}
/* line 421, ../../resources/sass/theseus.scss */
.overlayWindow footer ul li:first-of-type {
  margin-left: 0;
}
/* line 425, ../../resources/sass/theseus.scss */
.overlayWindow footer ul li.primeAction {
  background-color: #e62739;
  color: #fff;
}
