/*  Master Colors Palette */
$flingh_color_palette_blue_dark: #2980b9;
$flingh_color_palette_blue_light: #3498db;

$flingh_color_palette_medium-gray_dark: #bdc3c7;
$flingh_color_palette_medium-gray_light: #ecf0f1;

$flingh_color_palette_green_dark: #27ae60;
$flingh_color_palette_green_light: #2ecc71;

$flingh_color_palette_orange_dark: #d35400;
$flingh_color_palette_orange_light: #e67e22;

$flingh_color_palette_red_dark: #c0392b;
$flingh_color_palette_red_light: #e74c3c;

$flingh_color_palette_lila_dark: #8e44ad;
$flingh_color_palette_lila_light: #9b59b6;
$flingh_color_palette_lila_smokeDark: #82648f;

$flingh_color_palette_gray_extremely-dark: #151618;


$flingh_color_palette_gray_dark: #222326;
$flingh_color_palette_gray_medium_dark: #606466;