<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
         xmlns:th="http://www.thymeleaf.org"
         xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Classifications</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

</head>
<body>
<div>
    User: <span sec:authentication = "name">Bob</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;roles: <span sec:authentication="principal.authorities"/>
</div>
<h1>Classifications</h1>

<!--/*@thymesVar id="classificationCodes" type="java.util.List<java.lang.String>"*/-->
<ul th:each="code : ${classificationCodes}">
    <li><a th:text="${code}" th:href="@{/view/classification/(codes=${code})}">Classification 1</a></li>
</ul>

</body>
</html>