/* Split the screen in half */
body {
    font-family: sans-serif;
}
h2 {
    margin: 0 0 30px 0;
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    color: #4a4a4a;
    padding: 15px 20px 5px 5px;
    width: 100%;
    border-bottom: 2px solid #00b393;
}
h3 {
    margin-left: 20px;
}
.split {
    width: 46%;
    position: fixed;
    z-index: 1;
    top: 70px;
    bottom: 0;
    overflow-x: hidden;
    margin: 10px;
    padding: 20px;
}

/* Control the left side */
.users {
    /*width: 30%;*/
    left: 0;
    color: white;
    /*background-color: lightgray;*/
}

/* Control the right side */
.requests {
    /*width: 67%;*/
    right: 0;
    color: white;
    /*background-color: lightgray;*/
}

/* If you want the content centered horizontally and vertically */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

table.display {
    color: black;
}

#user-controls {
}

#request-controls {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    background: #9d9d9d;
    text-align: center;
}

#request-details {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    background: #9d9d9d;
    text-align: left;
}

#request-details li {
    list-style: none;
    padding: 5px;
}

table.dataTable tbody tr.selected,
table.dataTable.display tbody tr.odd.selected > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_1,
table.dataTable.stripe tbody tr.odd.selected, table.dataTable.display tbody tr.odd.selected {
    background-color: #00b393 !important;
    color: #fff !important;
}