body {
    font-family: Arial, serif;
}
.example1 {
    max-width: 600px;
}


/* Simple Grid */
.Grid {
    display: flex;
}
.Grid .Grid__Module {
    margin-right: 10px;
}
.Grid .Grid__Module:last-of-type {
    margin-right: 0;
}

.Grid .Grid_Module--20 {
    width: 20%;
}
.Grid .Grid_Module--40 {
    width: 40%;
}
.Grid .Grid_Module--50 {
    width: 50%;
}
.Grid .Grid_Module--60 {
    width: 60%;
}
.Grid .Grid_Module--80 {
    width: 80%;
}

/* Form */
form {
    font-size: 14px;
}

fieldset {
    border: none;
    margin: 40px 0 0 0;
}

fieldset legend {
    margin: 0;
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    color: #4a4a4a;
    padding: 15px 20px 5px 5px;
    width: 100%;
    border-bottom: 2px solid #00b393;
}

fieldset fieldset {
    margin-top: 20px;
    padding: 0 0 0 15px;
}
fieldset fieldset legend {
    font-size: 1.1em;
    border: 0;
    padding: 0;
}


label {
    display: block;
    margin-top: 20px;
    padding: 0 0 0 15px;
}
label span {
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    margin: 0 0 5px 0;
    color: #4a4a4a;
    white-space: nowrap;
}
label p.description {
    font-size: 1em;
    margin-left: 40px;
}

fieldset.radioList,
fieldset.CheckboxList {
    margin: 40px 0;
}

fieldset.radioList > fieldset,
fieldset.CheckboxList .CheckboxList__item {
    margin: 0 0 0 40px;
}

fieldset.radioList > label,
fieldset.CheckboxList .CheckboxList__item__checkbox {
    display: flex;
    align-items: center;
}

fieldset.radioList > label > input,
fieldset.CheckboxList .CheckboxList__item__checkbox input {
    width: 50px;
    margin: 0;
}

fieldset.radioList > label > span,
fieldset.CheckboxList .CheckboxList__item__checkbox span {
    width: calc(100% - 50px);
    margin: 0;
    font-weight: normal;
    font-size: 1em;
}

label.Radio,
label.Checkbox {
    display: flex;
    flex-wrap: wrap;
}
label.Radio > input,
label.Checkbox > input {
    width: 50px;
    margin: 0;
}
label.Radio > span,
label.Checkbox > span {
    width: calc(100% - 50px);
    margin: 0;
    font-weight: normal;
    font-size: 1.1em;
}
label.Radio > p.description,
label.Checkbox > p.description {
    flex-basis: 100%;
    background-color: #e9e9e9;
    padding: 10px 15px;
    border-radius: 5px;
    color: #504f4f;
}


input,
select,
textarea {
    box-shadow: none;
    padding: 10px 15px;
    border-radius: 3px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
    transition: all .4s ease;
    color: #4e4e4e;
}

textarea {
    resize: vertical;
}

input:focus,
select:focus,
textarea:focus {
    border-color: #00b393;
    color: #202020;
}

input.error,
select.error,
textarea.error {
    border-color: #e21719;
    color: #e21719;
    background-color: rgba(179, 35, 63, 0.18);
}
input.invalid,
select.invalid,
textarea.invalid {
    border-color: #e21719;
    color: #e21719;
    background-color: rgba(179, 35, 63, 0.18);
}

textarea {
    text-align: left;
    font-family: inherit;
    font-size: inherit;
}

button {
    padding: 10px 20px;
    display: inline-block;
    border-radius: 3px;
    border: none;
    background-color: #aaaeaf;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
}
button[type=submit] {
    padding: 12px 22px;
    background-color: #2ab46b;
    color: #fff;
}

footer {
    text-align: right;
    margin: 40px 0;
}
footer button {
    margin-left: 20px;
}
footer button:first-of-type {
    margin-left: 0;
}

a.hint {
    display: inline-block;
    background-color: #c6c6c6;
    padding: 3px 10px;
    border-radius: 5px;
    color: #2ab46b;
    font-size: .8em;
    font-weight: bold;
    text-decoration: none;
}
a.hint:hover {
    background-color: #2ab46b;
    color: #fff;
}


.validationMessage {
    padding: 10px;
    margin-top: 5px;
    font-size: .95em;
}
.validationMessage.error {
    color: #e21719;
}


/* Layout */

.FormularGroup {
    display: flex;
}
.FormularGroup label {
    margin-left: 20px;
}
.FormularGroup label:first-of-type {
    margin-left: 0;
}


/* Dependence */

.DependencyGroup .DependencyGroup__dependant {
    margin: 0 0 10px 40px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    opacity: 1;
    /*transition: all .4s ease;*/
}
.DependencyGroup .DependencyGroup__dependant[disabled="disabled"] {
    opacity: 0;
    height: 0;
}


/* Tabs */
.Tabs {
    padding: 50px 50px;
}
.Tabs nav {
    display: flex;
    border-bottom: 1px solid #cbcbcb;
}
.Tabs nav span {
    padding: 10px 15px 5px 15px;
    background-color: #eae7e7;
    text-decoration: none;
    margin-right: 1px;
}
.Tabs nav span i.fa {
    background-color: #fff;
    border-radius: 100%;
    color: #000;
    padding: 4px;
}

.Tabs nav span.validated,
.Tabs nav span.active {
    background-color: #2ab46b;
    color: #fff;
    cursor: pointer;
}
.TabsWrapper {
    position: relative;
    border-bottom: 1px solid #cbcbcb;
    padding: 20px;
    transition: all .4s ease;
}
.TabsWrapper .Tab {
    display: none;
}
.TabsWrapper .Tab.active {
    display: block;
}

/* Validation message */
.ValidationMessages {
    width: 100%;
    text-align: left;
    margin: 20px 0;
}
.ValidationMessages__message {
    background-color: #ccc;
    padding: 20px;
    color: #000;
    font-weight: bold;
    display: none;
}
.ValidationMessages__message.active {
    display: block;
}
.ValidationMessages__message--invalid {
    background-color: rgba(255, 126, 25, 0.99);
    color: #f3f3f3;
}
.ValidationMessages__message--error {
    background-color: #ab0000;
    color: #f3f3f3;
}