@import "../_settings/_colors.scss";
@import "../_settings/_fonts.scss";
@import "html-editor-tinymce.scss";

.editor {
  fieldset[data-type=list] {
    > fieldset ul.listChildItemsWrapper {
      > li {
        padding: 10px 15px 0 15px;
        position: relative;
        transition: all .3s ease;
        background-color: $base_color_light_gray;
        margin-bottom: 2px;

        > fieldset,
        > fieldset > fieldset {
          margin: 0;
        }

        .listStatusIcon {
          background-color: $base_color_medium_gray4;
          padding: 5px 30px;
          color: #fff;
          font-size: 1rem;
          line-height: 1;
          position: absolute;
          top: 0;
          bottom: auto;
          left: 50%;
          transform: translateX(-50%) rotate(180deg);
          cursor: pointer;
          transition: top .6s ease;
        }

        .listOpenTrigger {
          display: none;
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
        }

        &.compactView {
          padding: 5px 15px 5px 15px;
          cursor: pointer;

          > fieldset > fieldset > fieldset {
            padding: 0 10px;

            &:first-of-type {
              padding-left: 0;
            }
            &:last-of-type {
              padding-right: 0;
            }
          }

          .listStatusIcon {
            transform: translateX(-50%) rotate(0deg);
          }

          .listOpenTrigger {
            display: block;
          }

          .imagePreview {
            margin-bottom: 0;
          }

          .moreOptionsWrapper {
            display: none;
          }

          fieldset[data-type=object] {
            label,
            .imagePreview span {
              display: none;
            }

            .imagePreview,
            .imagePreview img {
              height: 40px;
            }
          }

          fieldset[data-type=text] {
            label {
              margin: 0;
              background-color: transparent;

              span {
                display: none;
              }
              textarea {
                height: 40px;
                background-color: transparent;
                color: $base_color_medium_gray4;
                resize: none;
                min-height: initial;
                margin: 0;
                padding: 2px 10px;
                overflow: hidden;
                line-height: 1.2;
              }
            }
          }

          fieldset[data-type=listGroup] > fieldset {
            display: flex;
          }
        }

        &:hover {
          background-color: $base_color_medium_gray2;

          .listStatusIcon {
            background-color: $base_color_green;
          }
        }
      }
    }

    .imagePreview {
      width: 100%;
      margin-bottom: 15px;

      img {
        max-width: 100%;
      }
    }

    .button_moreOptions {
      .button_moreOptions__copy--closed {
        display: block;
      }
      .button_moreOptions__copy--opened {
        display: none;
      }

      &.opened {
        .button_moreOptions__copy--closed {
          display: none;
        }
        .button_moreOptions__copy--opened {
          display: block;
        }
      }
    }

    .moreOptionsWrapper {
      .moreOptions {
        display: none;
        box-sizing: border-box;
        padding: 1px 0 0 10px;
        border-left: 10px solid $base_color_light_gray;
      }
    }

  }
}