@import "../_settings/_colors.scss";
@import "../_settings/_fonts.scss";
@import "html-editor-tinymce.scss";

.editor {
  fieldset[data-type=list] {
    > fieldset ul.listChildItemsWrapper {
      > li {
        padding: 0;
        position: relative;
        transition: all .3s ease;
        background-color: $base_color_light_gray;
        margin-bottom: 2px;

        &:hover {
          background-color: $base_color_medium_gray2;
        }

        > fieldset,
        > fieldset > fieldset {
          margin: 0;
        }

        > fieldset {
          padding: 0;
          margin: 0 10px 10px 10px;
          position: relative;
        }

        .button[data-action=openClose] {
          transform: rotate(90deg);
        }

        .listOpenTrigger {
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          display: none;
          cursor: pointer;
        }

        &.compactView {
          padding: 0;
          height: 100px;
          overflow: hidden;

          fieldset {
            margin-top: 3px;
          }

          > fieldset > fieldset > fieldset {
            padding: 0 10px;
            flex-grow: 1;
            flex-basis: 0;

            &:first-of-type {
              padding-left: 0;
            }
            &:last-of-type {
              padding-right: 0;
            }
          }

          .editorControlls {

            .button--icon {
              .button__copy {
                display: none;
              }
            }
            .button[data-action=openClose] {
              transform: rotate(0deg);
            }
          }

          .listOpenTrigger {
            display: block;
          }

          .imagePreview {
            margin-bottom: 0;
          }

          .moreOptionsWrapper {
            display: none;
          }

          fieldset[data-type=object] {
            width: 150px;

            label,
            .imagePreview span {
              display: none;
            }

            .imagePreview,
            .imagePreview img {
              max-height: 40px;
            }
          }

          fieldset[data-type=text] {
            label {
              margin: 0;
              background-color: transparent;

              span {
                display: none;
              }
              .contentHtmlRendered {
                display: block;
                height: 40px;
                background-color: transparent;
                color: $base_color_medium_gray4;
                min-height: initial;
                margin: 0;
                padding: 2px 10px;
                overflow: hidden;
                line-height: 1.3;

                p {
                  padding: 0;
                  margin: 0;
                }
              }

            }
          }

          fieldset[data-type=listGroup] > fieldset {
            display: flex;
          }
        }
      }
    }

    .imagePreview {
      width: 100%;
      margin-bottom: 15px;

      img {
        max-width: 100%;
      }
    }

    .editorControlls {
      display: flex;
      background-color: $base_color_medium_light_gray;
      padding: 0 10px;
      margin: 0;
      position: relative;
      z-index: 5;

      .button {
        padding: 5px 10px;
        background-color: $base_color_green;
        color: #fff;
        margin: 0 20px 2px 0;
        cursor: pointer;

        &.button--icon {
          display: flex;
          justify-content: center;
          background-color: transparent;
          padding: 0;
          color: $base_color_medium_gray4;

          &:hover {
            color: $base_color_green;

            .button__icon {
              color: $base_color_green;
            }
          }

          .button__icon {
            color: $base_color_medium_gray4;
            font-size: .8rem;
            font-weight: bold;
            margin-right: 5px;
          }

          &[data-action=openClose] {
            padding: 5px;
            cursor: pointer;

            .button__icon {
              font-size: 1rem;
            }
          }
        }
      }
    }

    .button_moreOptions {
      .button_moreOptions__copy--closed {
        display: block;
      }
      .button_moreOptions__copy--opened {
        display: none;
      }

      &.opened {
        .button_moreOptions__copy--closed {
          display: none;
        }
        .button_moreOptions__copy--opened {
          display: block;
        }
      }
    }

    .moreOptionsWrapper {
      .moreOptions {
        display: none;
        box-sizing: border-box;
        padding: 1px 0 0 10px;
        border-left: 10px solid $base_color_light_gray;
      }
    }

    .addItem {
      .addItem__button {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        display: inline-block;
        font-size: 1.1rem;
        cursor: pointer;
        color: $base_color_medium_gray3;

        &:hover {
          color: $base_color_green;
        }
      }
    }

  }
  fieldset[data-type=text] {
    .contentHtmlRendered {
      display: none;
    }
  }
}