@import "../_settings/_colors.scss";

.globalNotifications {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;

  .globalNotifications__globalNotification {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px 20px;
    background-color: #fff;
    color: $base_color_medium_gray;
    border-top: 2px solid $base_color_dark_gray;
    transition: all 1s cubic-bezier(.68,-0.55,.27,1.55);
    transform: translateY(100%);
    display: flex;
    align-items: center;

    &.active {
      transform: translateY(0);
    }

    .icon {
      font-size: 2rem;
      margin-right: 50px;
    }

    .copy {
      font-size: 1rem;

      h5 {
        font-size: 1.2rem;
        margin: 0;
      }
    }
  }
}




.badge {
  display: inline-block;
  padding: 0 3px 1px 3px;
  background-color: $base_color_orange;
  line-height: 1;
  position: relative;
  top: -.5em;
  font-size: .9em;
  color: $base_color_dark_light_gray;
  margin-left: 5px;
  border-radius: 3px;
}