@import "../_settings/_colors.scss";

.layer {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: $color_layer_background;
  color: $color_font_on_dark_background;
  padding: 20px 0 10px 0;
  width: 249px;
  transition: all .5s cubic-bezier(.55,.09,.68,.53);
  opacity: 0;
  display: none;

  &.active {
    display: block;
    opacity: 1;
    z-index: 50;
  }

  .layer {
    left: 249px;
    width: 400px;
    border-left: 1px solid $base_color_medium_light_gray;
    overflow: hidden;
  }

  form {
    display: flex;
    flex-direction: column;
    height: 100%;

    textarea,
    input {
      width: 100%;
      display: block;
      box-sizing: border-box;
    }

    textarea {
      min-height: 90px;
      resize: vertical;
    }

    footer {
      position: sticky;
      bottom: 0;
      padding: 10px;
      text-align: right;
    }
  }

  h4 {
    font-size: 1.08rem;
    margin: 5px 20px 30px 20px;
  }
  h5 {
    font-size: 1.01rem;
    margin: 10px 20px;
  }

  .layer__form {
    padding: 0 20px;
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-right: -30px;
    padding-right: 55px;
  }

  fieldset[data-type=list] {
    > fieldset > ul > li {
      border-top: 1px solid $base_color_medium_gray3;
      padding: 20px 0 0 15px;
      position: relative;
      transition: all .3s ease;

      &:last-of-type {
        border-bottom: 1px solid $base_color_medium_gray3;
      }

      > fieldset {
        width: calc(100% - 30px);
      }

      &:after {
        content: "\f107";
        font-family: FontAwesome, sans-serif;
        font-size: 1.5rem;
        position: absolute;
        right: 5px;
        top: 10px;
        transform: rotate(0deg);
        transition: all .6s ease;
      }
    }

    li.compactView {
      padding: 5px 0;

      &:after {
        transform: rotate(-90deg);
      }

      fieldset[data-type=object] {
        label,
        .imagePreview span {
          display: none;
        }

        .imagePreview,
        .imagePreview img{
          height: 40px;
        }
      }

      fieldset[data-type=text] {
        label {
          margin: 0;
          background-color: transparent;

          span {
            display: none;
          }
          textarea {
            height: 40px;
            background-color: transparent;
            resize: none;
            min-height: initial;
            margin: 0;
            padding: 2px 10px;
            overflow: hidden;
          }
        }
      }

      fieldset[data-type=listGroup] > fieldset {
        display: flex;
      }
    }
  }

  label {
    display: block;
    margin: 0 0 15px 0;
  }

  .imagePreview {
    width: 100%;
    margin-bottom: 15px;

    img {
      max-width: 100%;
    }
  }
}