@import "../_settings/_colors.scss";

.layer {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: $color_layer_background;
  color: $color_font_on_dark_background;
  padding: 20px 0 10px 0;
  width: 249px;
  transition: all .5s cubic-bezier(.55,.09,.68,.53);
  opacity: 0;
  display: none;

  &.active {
    display: block;
    opacity: 1;
    z-index: 50;
  }

  .layer {
    left: 250px;
  }

  form {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  h4 {
    font-size: 1.05rem;
    margin: 5px 10px 10px 10px;
  }

  .layer__form {
    padding: 0 10px;
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  fieldset[data-type] {
    margin-top: 20px;
  }
}