@import "../_settings/_colors.scss";

.layer {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: $color_layer_background;
  color: $color_font_on_dark_background;
  padding: 20px 0 10px 0;
  width: 249px;
  transition: all .5s cubic-bezier(.55,.09,.68,.53);
  opacity: 0;
  display: none;

  &.active {
    display: block;
    opacity: 1;
    z-index: 50;
  }

  .layer {
    left: 249px;
    width: 400px;
    border-left: 1px solid $base_color_medium_light_gray;
    overflow: hidden;
  }

  form {
    display: flex;
    flex-direction: column;
    height: 100%;

    textarea,
    input {
      width: 100%;
      display: block;
    }

    footer {
      position: sticky;
      bottom: 0;
      padding: 10px;
      text-align: right;
    }
  }

  h4 {
    font-size: 1.05rem;
    margin: 5px 10px 30px 10px;
  }
  h5 {
    margin: 10px;
  }

  .layer__form {
    padding: 0 10px;
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-right: -30px;
    padding-right: 40px;
  }

  fieldset[data-type] {
    margin-top: 20px;
  }

  label {
    display: block;
    margin: 0 0 10px 0;
  }

  .imagePreview {
    width: 100%;

    img {
      max-width: 100%;
    }
  }
}