@import "../_settings/_colors.scss";

.layer {
  position: absolute;
  left: 0;
  top: 0;
  background-color: $color_layer_background;
  color: $color_font_on_dark_background;
  padding: 20px 0 10px 0;
  width: 249px;
  transition: all .5s cubic-bezier(.55,.09,.68,.53);
  opacity: 0;

  &.active {
    opacity: 1;
  }

  .layer {
    left: 250px;
  }

  h4 {
    font-size: 1.05rem;
    margin: 5px 10px 10px 10px;
  }

  .layer__form {
    padding: 0 10px;
  }
}