@import "../_settings/_colors.scss";

.tabsBar {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  background-color: $color_basic_dark_background;
  width: 100%;

  .tabsBar_iconButton {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    color: $base_color_medium_light_gray;
    cursor: pointer;

    &:hover {
      background-color: rgba(255, 255, 255, 0.08);
    }

    .tabsBar_iconButton_icon {
      padding: 1px 10px;
      margin: 0 10px 0 0;
      background-color: $color_cta;
      color: $base_color_medium_light_gray;
      font-size: .7rem;
    }
  }
}
