@import "../_settings/_colors.scss";
@import "../_settings/_animations.scss";

.toolBar {
  background-color: $color_basic_dark_background;
  height: 91px;
  padding: 1px;

  .mainElements {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    padding: 0 10px;

    .mainElements__currentPagePath {
      border: 1px solid $base_color_light_gray;
      width: 60%;
      padding: 5px;
      box-sizing: border-box;
      display: flex;

      .mainElements__currentPagePath__icon {
        display: block;
        margin: 0 10px 0 5px;
        color: $base_color_light_gray;
      }
    }

    .pathAsLinkElements {
      display: flex;
      align-items: center;
      color: $base_color_light_gray;

      .pathAsLinkElements__element {
        padding: 0 2px;

        &:first-of-type:before {
          content: "/";
          display: inline-block;
          padding: 0 2px;
        }

        &::after {
          content: "/";
          display: inline-block;
          padding: 0 2px;
        }
      }
    }
  }

  .tools {
    display: flex;
    align-items: flex-end;
    margin-left: 50px;

    .tools__item {
      margin: 0 10px;
    }
  }

  .overlayWrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;

    &.active {
      display: block;
    }

    .background {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.76);
      z-index: -1;
    }

    .overlay {
      margin: 30px;
      padding: 0;
      height: calc(100% - 60px);
      max-width: 1200px;
      background-color: #fff;
      box-sizing: border-box;
      overflow: hidden;
      display: none;


      &.active {
        display: block;
      }

      header {
        height: 100px;
        position: relative;
        border-bottom: 1px solid $base_color_light_gray;
        padding: 1px 30px 10px 30px;
        display: flex;
        align-items: end;
        box-sizing: border-box;

          h2 {
            font-size: 1.46rem;
            margin: 0;
          }

          .interactionButton {
            position: absolute;
            background-color: orange;
            padding: 10px;
            color: #fff;
            font-size: 1.3rem;
            top: 10px;
            right: 10px;
            display: flex;
            align-items: center;
            cursor: pointer;
          }
      }

      .body {
        overflow: auto;
        height: calc(100% - 100px);
        padding: 30px;
        box-sizing: border-box;
      }

      h2, h3, h4 {
        margin: 0;
        font-weight: normal;
      }

      h3 {
        font-size: 1.2rem;
        margin-bottom: 20px;
        margin-top: 30px;
      }

      h4 {
        font-size: 1.1rem;
        font-weight: bold;
        margin-bottom: 10px;
      }

      article, footer {
        margin-left: 20px;
        position: relative;
      }

      article .blockingOverlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(255,255,255,.8);
        justify-content: center;
        align-items: center;
        display: none;

        &.active {
          display: flex;
        }

        .blockingOverlay__statusMessage {
          border: 1px solid #838383;
          padding: 5px 20px;
          background-color: #ececec;

          .blockingOverlay__statusMessage__icon {
            display: inline-block;
            margin-right: 10px;
          }
        }

      }

      footer {
        text-align: end;
      }

      section {
        border-bottom: 1px solid $base_color_light_gray;
        margin: 20px 0 0 0;
        padding: 20px;
        max-width: 1000px;

        &:first-of-type {
          border-top: 1px solid $base_color_light_gray;
        }

        article.information {
          background-color: $base_color_medium_light_gray;
          padding: 10px;
          border: 1px solid $base_color_light_gray;
        }

        fieldset {
          margin-top: 10px;
          margin-bottom: 10px;
          display: block;

          label {
            margin-top: 10px;
            display: block;

            span {
              display: block;
            }
          }

          textarea {
            min-height: 15vh;
            max-height: 60vh;
            height: 15vh;
            transition: height .4s ease-out;

            &.enlarge {
              height: 60vh;
            }
          }
        }
      }

      .button {
        display: flex;
        align-items: center;
        color: $base_color_dark_light_gray;
        margin: 10px 0;
        font-size: .8rem;

        .button_icon {
          background-color: $base_color_green;
          padding: 2px 5px;
          margin-right: 5px;
          display: inline-block;
          color: $base_color_medium_light_gray;
          font-size: .8rem;
        }
      }

      textarea, input[type=text] {
        background-color: $color_basic_dark_background;
        padding: 15px;
        border: 0;
        box-shadow: unset;
        color: $color_font_on_dark_background;
        width: 100%;
        box-sizing: border-box;
      }
    }
  }
}