@import "../_settings/_colors.scss";

.toolbar {
  padding: 20px 10px;
  display: flex;
  align-items: center;
  background-color: $color_basic_dark_background;

  .tools {
    display: flex;
    margin-left: 50px;

    .tools__item {
      margin: 0 10px;
    }
  }
}