<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Greece</title>
    <link rel="stylesheet" href="/assets/greekestate/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/assets/greekestate/assets/styles/slider.css">
    <link rel="stylesheet" href="/assets/greekestate/assets/styles/greek.css"/>
    <style>
        @import url('https://fonts.googleapis.com/css?family=News+Cycle');
    </style>
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="/assets/greekestate/assets/scripts/slider.js"></script>
</head>
<body>
<!--/*@thymesVar id="__content" type="com.fourigin.argo.template.engine.utilities.ContentElementUtility"*/-->
<!--/*@thymesVar id="__page" type="com.fourigin.argo.template.engine.utilities.PagePropertiesUtility"*/-->

<header th:replace="greekestate/base :: header">

</header>
<div class="body">

    <article th:replace="greekestate/base :: article-product-slider(${argo.contentElementUtility.getElement('/stage').elements})">

    </article>


    <article class="contextHighlights">
        <div class="links">
            <a href="immobilie-kaufen.html">Immobilie kaufen</a>
            <a href="feriendomizil-suchen.html">Feriendomizil mieten</a>
        </div>
        <div class="searchAndGo">
            <i class="fa fa-search linkTypeIcon" aria-hidden="true"></i>
            <form action="#">
                <label>
                    <span>Objekt-ID</span>
                    <input name="objectId" type="text" />
                </label>
                <input class="cta" type="submit" value="Suchen"/>
            </form>
        </div>
    </article>

    <article th:replace="greekestate/base :: article-h1-block()">

    </article>

    <article>
        <h2>Besondere Angebote</h2>

        <ul class="smallItemGalleryList">
            <li>
                <div class="image">
                    <div class="slider">
                        <input class="sliderPageStorage" value="1" type="hidden">
                        <div class="sliderWrapper">
                            <ul>
                                <li>
                                    <div class="detailSlide">
                                        <div class="image">
                                            <img src="#"/>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="detailSlide">
                                        <div class="image">
                                            <img src="#"/>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="detailSlide">
                                        <div class="image">
                                            <img src="#"/>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="sliderSlideLeft"></div>
                        <div class="sliderSlideRight"></div>
                    </div>
                </div>
                <div class="description">
                    <div class="category">Gewerbe</div>
                    <h3><a href="details.html">Gewerbegebiet mit bester Anbindung</a></h3>
                </div>
                <div class="priceAndCta">
                    <span class="price">
                        500.500 €
                    </span>
                    <a href="details.html" class="cta">Zum Angebot</a>
                </div>
            </li>
            <li>
                <div class="image">
                    <div class="slider">
                        <input class="sliderPageStorage" value="1" type="hidden">
                        <div class="sliderWrapper">
                            <ul>
                                <li>
                                    <div class="detailSlide">
                                        <div class="image">
                                            <img src="#"/>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="detailSlide">
                                        <div class="image">
                                            <img src="#"/>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="detailSlide">
                                        <div class="image">
                                            <img src="#"/>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="sliderSlideLeft"></div>
                        <div class="sliderSlideRight"></div>
                    </div>
                </div>
                <div class="description">
                    <div class="category">Feriendomizil</div>
                    <h3><a href="details.html">Gewerbegebiet mit bester Anbindung</a></h3>
                </div>
                <div class="priceAndCta">
                    <span class="price">
                        465.000 €
                    </span>
                    <a href="details.html" class="cta">Zum Angebot</a>
                </div>
            </li>
            <li>
                <div class="image">
                    <div class="slider">
                        <input class="sliderPageStorage" value="1" type="hidden">
                        <div class="sliderWrapper">
                            <ul>
                                <li>
                                    <div class="detailSlide">
                                        <div class="image">
                                            <img src="#"/>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="detailSlide">
                                        <div class="image">
                                            <img src="#"/>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="sliderSlideLeft"></div>
                        <div class="sliderSlideRight"></div>
                    </div>
                </div>
                <div class="description">
                    <div class="category">Gewerbe</div>
                    <h3><a href="details.html">Restaurant im Touristen-Zentrum</a></h3>
                </div>
                <div class="priceAndCta">
                    <span class="price">
                        2.500 € Pacht
                    </span>
                    <a href="details.html" class="cta">Zum Angebot</a>
                </div>
            </li>
        </ul>

        <script type="text/javascript">
            jQuery(document).ready(function () {
                jQuery(".smallItemGalleryList .slider").each(function () {
                    new Slider(
                        jQuery(this),
                        {
                            "slideItemsAmountPerPage": [
                                {
                                    "min": "0px",
                                    "max": null,
                                    "slideItems": 1
                                }
                            ]
                        }
                    );
                });
            });
        </script>
    </article>

    <article class="forwardings">
        <a href="immobilie-kaufen.html">Immobilie kaufen</a>
        <a href="feriendomizil-suchen.html">Feriendomizil mieten</a>
        <a href="region.html">Informationen über Loutraki</a>
    </article>
</div>
<footer th:replace="greekestate/base :: footer">

</footer>
</body>
</html>