<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Formulare - Prototypen</title>
    <link rel="stylesheet" href="assets/styles/formulars.css"/>
</head>
<body>
<h1>Formulare - Prototypen</h1>
<h2>Stil: Basis</h2>

<div class="example1">
    <form action="#" method="get">
        <fieldset>
            <legend>Persönliche Daten</legend>
            <label>
                <span>Vorname</span>
                <input type="text" name="vorname"/>
            </label>
            <label>
                <span>Nachname</span>
                <input type="text" name="nachname"/>
            </label>
            <div class="FormularGroup Grid">
                <div class="Grid__Module Grid_Module--80">
                    <label>
                        <span>Straße</span>
                        <input type="text" name="strasse" value="Talblick"/>
                    </label>
                </div>
                <div class="Grid__Module Grid_Module--20">
                    <label>
                        <span>Nr.</span>
                        <input type="text" name="hausnummer"/>
                    </label>
                </div>
            </div>
            <div class="FormularGroup Grid">
                <div class="Grid__Module Grid_Module--20">
                    <label>
                        <span>Kontonummer</span>
                        <input type="text" name="kto" value=""/>
                    </label>
                </div>
                <div class="Grid__Module Grid_Module--20">
                    <label>
                        <span>Pin</span>
                        <input type="text" name="pin"/>
                    </label>
                </div>
                <div class="Grid__Module Grid_Module--20">
                    <label>
                        <span>Handynummer</span>
                        <input type="text" name="pin"/>
                    </label>
                </div>
                <div class="Grid__Module Grid_Module--20">
                    <label>
                        <span>Pin</span>
                        <input type="text" name="pin"/>
                    </label>
                </div>
                <div class="Grid__Module Grid_Module--20">
                    <label>
                        <span>Kreditkarte</span>
                        <input type="text" name="pin"/>
                    </label>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Lustige Sachen</legend>
            <label>
                <span>Beschreibe Deinen besten Joke</span>
                <textarea name="joke">
                </textarea>
            </label>
            <fieldset class="radioList">
                <legend>Was ist besser?</legend>
                <label>
                    <input type="radio" name="besser" value="ein tropfen"/>
                    <span>Ein Regentropfen</span>
                </label>
                <label>
                    <input type="radio" name="besser" value="zwei tropfen"/>
                    <span>Zwei Regentropfen</span>
                </label>
                <label>
                    <input type="radio" name="besser" value="drei tropfen"/>
                    <span>Drei Regentropfen</span>
                </label>
            </fieldset>
            <div class="FormularGroup Grid">
                <div class="Grid__Module Grid_Module--80">
                    <label>
                        <span>Straße - hier ist was falsch:</span>
                        <input type="text" name="strasse" class="error" value="Strazse Eins"/>
                        <div class="validationMessage error">
                            Schreibfehler. Die Straße wurde nicht gefunden. Die Hausnummer bitte als Zahl in das nächste Feld eintragen.
                        </div>
                    </label>
                </div>
                <div class="Grid__Module Grid_Module--20">
                    <label>
                        <span>Nr.</span>
                        <input type="text" name="hausnummer"/>
                    </label>
                </div>
            </div>
            <fieldset class="checkboxList">
                <legend>Was ist teuer?</legend>
                <label>
                    <input type="checkbox" name="besser" value="gelb"/>
                    <span>Gelb</span>
                </label>
                <label>
                    <input type="checkbox" name="besser" value="orange"/>
                    <span>Orange</span>
                </label>
                <label>
                    <input type="checkbox" name="besser" value="hell rosa"/>
                    <span>Hell rosa</span>
                </label>
            </fieldset>
        </fieldset>


        <fieldset>
            <legend>Gewinnspiel</legend>
            <label>
                <span>Wähle Dein Geschenk aus</span>
                <select name="auswahl">
                    <option value="eis">Eis</option>
                    <option value="sahne">Sahne</option>
                    <option value="schuh">Schuh</option>
                </select>
            </label>
        </fieldset>

        <footer>
            <button type="submit">Absenden</button>
            <button type="reset">Zurücksetzen</button>
        </footer>
    </form>
</div>

<div class="Tabs">
    <nav>
        <span class="TabNavigationItem active" data-target-tab-id="tab1">Tab 1</span>
        <span class="TabNavigationItem" data-target-tab-id="tab2">Tab 2</span>
        <span class="TabNavigationItem" data-target-tab-id="tab3">Tab 3</span>
    </nav>
    <div class="TabsWrapper">
        <div data-tab-id="tab1" class="Tab active">
            <h2>Schritt 1</h2>
            <form action="#" method="get">
                <fieldset>
                    <legend>Persönliche Daten</legend>
                    <label>
                        <span>Vorname</span>
                        <input type="text" name="vorname"/>
                    </label>
                    <label>
                        <span>Nachname</span>
                        <input type="text" name="nachname"/>
                    </label>
                    <div class="FormularGroup Grid">
                        <div class="Grid__Module Grid_Module--80">
                            <label>
                                <span>Straße</span>
                                <input type="text" name="strasse" value="Talblick"/>
                            </label>
                        </div>
                        <div class="Grid__Module Grid_Module--20">
                            <label>
                                <span>Nr.</span>
                                <input type="text" name="hausnummer"/>
                            </label>
                        </div>
                    </div>
                    <div class="FormularGroup Grid">
                        <div class="Grid__Module Grid_Module--20">
                            <label>
                                <span>Kontonummer</span>
                                <input type="text" name="kto" value=""/>
                            </label>
                        </div>
                        <div class="Grid__Module Grid_Module--20">
                            <label>
                                <span>Pin</span>
                                <input type="text" name="pin"/>
                            </label>
                        </div>
                        <div class="Grid__Module Grid_Module--20">
                            <label>
                                <span>Handynummer</span>
                                <input type="text" name="pin"/>
                            </label>
                        </div>
                        <div class="Grid__Module Grid_Module--20">
                            <label>
                                <span>Pin</span>
                                <input type="text" name="pin"/>
                            </label>
                        </div>
                        <div class="Grid__Module Grid_Module--20">
                            <label>
                                <span>Kreditkarte</span>
                                <input type="text" name="pin"/>
                            </label>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div data-tab-id="tab2" class="Tab">
            <h2>Schritt 2</h2>
        </div>
        <div data-tab-id="tab3" class="Tab">
            <h2>Schritt 3</h2>
        </div>
    </div>
</div>

<script type="text/javascript" src="assets/scripts/Tabs.js"></script>

</body>
</html>