<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Formulare - Prototypen</title>
    <link rel="stylesheet" href="assets/styles/kfz-anmeldung.css"/>
    <link rel="stylesheet" href="assets/styles/formulars.css"/>
    <link rel="stylesheet" href="assets/webfonts/line-awesome/css/line-awesome-font-awesome.min.css"/>
</head>
<body>
<h1>KFZ-Anmeldung</h1>

<div class="Tabs StepsBox" id="fccFormular">
    <nav>
        <span class="TabNavigationItem active" data-tab-id="tab1">Fahrzeug <i class="fa fa-angle-double-right la la-angle-double-right"></i></span>
        <span class="TabNavigationItem" data-tab-id="tab2">KFZ-Steuer <i class="fa fa-angle-double-right la la-angle-double-right"></i></span>
        <span class="TabNavigationItem" data-tab-id="tab3">Zahlung <i class="fa fa-angle-double-right la la-angle-double-right"></i></span>
        <span class="TabNavigationItem" data-tab-id="tab4">Dokumentenübergabe <i class="fa fa-angle-double-right la la-angle-double-right"></i></span>
        <span class="TabNavigationItem" data-tab-id="tab5">Prüfen &amp; abschließen</span>
    </nav>
    <div class="TabsWrapper">
        <form action="#" method="get">
            <div data-target-tab-id="tab1" class="Tab StepsBox__step active">
                <fieldset>
                    <legend>Informationen zum Fahrzeug</legend>
                    <fieldset>
                        <legend>Kennzeichen</legend>
                        <label>
                            <span>das alte Kennzeichen (nur bei Ummeldungen)</span>
                            <input type="text" name="kennzeichen_alt"/>
                        </label>

                        <fieldset name="neues_kennzeichen" class="CheckboxList">
                            <legend>das neue Kennzeichen</legend>

                            <div class="CheckboxList__item DependencyGroup">
                                <label class="CheckboxList__item__checkbox DependencyGroup__master">
                                    <input type="checkbox" name="new_nameplate" value="portal"
                                           data-activate-fieldset-name="neues_kennzeichen_details"/>
                                    <span>soll von uns beantragt werden und soll dabei folgenden Wünschen entsprechen:</span>
                                </label>
                                <fieldset class="DependencyGroup__dependant" name="neues_kennzeichen_details"
                                          disabled="disabled">
                                    <label>
                                        <!--<span>Wünsche</span>-->
                                        <input type="text" name="kennzeichen_neu_wuensche"/>
                                    </label>
                                </fieldset>
                            </div>
                            <!---->
                            <div class="CheckboxList__item DependencyGroup">
                                <label class="CheckboxList__item__checkbox DependencyGroup__master">
                                    <input type="checkbox" name="new_nameplate" value="self"
                                           data-activate-fieldset-name="neues_kennzeichen_reservierung_details"/>
                                    <span>ist von Ihnen bereits auf Ihren Namen reserviert worden und soll lauten:</span>
                                </label>
                                <fieldset class="DependencyGroup__dependant" name="neues_kennzeichen_reservierung_details"
                                          disabled="disabled">
                                    <label>
                                        <!--<span>Reservierung</span>-->
                                        <input type="text" name="kennzeichen_neu_reserviert"/>
                                    </label>
                                </fieldset>
                            </div>
                            <!---->
                            <div class="CheckboxList__item">
                                <label class="CheckboxList__item__checkbox">
                                    <input type="checkbox" name="new_nameplate" value="random"/>
                                    <span>Spielt für Sie keine Rolle und soll zufällig vergeben werden</span>
                                </label>
                            </div>
                        </fieldset>


                    </fieldset>

                    <fieldset>
                        <legend>Fahrzeugdaten</legend>

                        <div class="FormularGroup Grid">
                            <div class="Grid_Module--50">
                                <label>
                                    <span>Ident-Nummer: <a href="#" class="hint">Wo finde ich sie?</a></span>
                                    <input type="text" name="strasse"/>
                                </label>
                            </div>
                            <div class="Grid_Module--50">
                                <label>
                                    <span>Fahrzeugbrief-Nummer: <a href="#" class="hint">Wo finde ich sie?</a></span>
                                    <input type="text" name="hausnummer"/>
                                </label>
                            </div>
                        </div>


                        <label class="Checkbox">
                            <input type="checkbox" name="leasing" value="hell rosa"/>
                            <span>Fahrzeug wird finanziert bzw. geleast</span>
                        </label>


                    </fieldset>

                    <fieldset>
                        <legend>KFZ-Versicherung</legend>

                        <label>
                            <span>eVB-Nummer: <a href="#" class="hint">Wo finde ich sie?</a></span>
                            <input type="text" name="evb_nummer"/>
                        </label>

                    </fieldset>


                    <footer>
                        <div class="ValidationMessages">
                            <div class="ValidationMessages__message ValidationMessages__message--error" data-validation-message-type="error">Ihre Eingabe konnte nicht validiert werden. Bitte überprüfen Sie die Daten.</div>
                        </div>
                        <button type="button" data-action="nextTab">Weiter</button>
                    </footer>
                </fieldset>
            </div>


            <div data-target-tab-id="tab2" class="Tab StepsBox__step">

                <fieldset class="checkboxList">
                    <legend>Bankdaten für die Abbuchung der KFZ-Steuer</legend>
                    <div class="DependencyGroup">
                        <label class="Checkbox DependencyGroup__master">
                            <input type="checkbox" name="besser" value="gelb"
                                   data-activate-fieldset-name="hinterlegte_kontodaten"/>
                            <span>die hinterlegte Bankverbindung verwenden:</span>
                        </label>
                        <fieldset name="hinterlegte_kontodaten" class="DependencyGroup__dependant">
                            <label>
                                <select name="auswahl">
                                    <option value="eis">Deutsche Bank, IBAN: 1234 5678 9012 3456 78</option>
                                    <option value="sahne">Sparkasse Berlin, IBAN: 0987 6543 2109 8765 43
                                    </option>
                                </select>
                            </label>
                        </fieldset>
                    </div>

                    <div class="DependencyGroup">
                        <label class="Checkbox DependencyGroup__master">
                            <input type="checkbox" name="besser" value="hell rosa"
                                   data-activate-fieldset-name="neue_kontodaten"/>
                            <span>eine neue Bankverbindung verwenden:</span>
                        </label>
                        <fieldset name="neue_kontodaten" class="DependencyGroup__dependant">
                            <div class="Grid">
                                <div class="Grid__Module Grid_Module--40">
                                    <label>
                                        <span>IBAN:</span>
                                        <input type="text" name="evb_nummer"/>
                                    </label>
                                </div>
                                <div class="Grid__Module Grid_Module--30">
                                    <label>
                                        <span>BIC:</span>
                                        <input type="text" name="evb_nummer" readonly="readonly"/>
                                    </label>
                                </div>
                                <div class="Grid__Module Grid_Module--30">
                                    <label>
                                        <span>Bank:</span>
                                        <input type="text" name="evb_nummer" readonly="readonly"/>
                                    </label>
                                </div>
                            </div>

                            <label>
                                <span>Kontoinhaber (falls abweichend vom Antragsteller):</span>
                                <input type="text" name="evb_nummer"/>
                            </label>

                        </fieldset>
                    </div>
                </fieldset>

                <footer>
                    <div class="ValidationMessages">
                        <div class="ValidationMessages__message ValidationMessages__message--error" data-validation-message-type="error">Ihre Eingabe konnte nicht validiert werden. Bitte überprüfen Sie die Daten.</div>
                    </div>
                    <button type="button" data-action="previousTab">Zurück</button>
                    <button type="button" data-action="nextTab">Weiter</button>
                </footer>
            </div>

            <div data-target-tab-id="tab3" class="Tab StepsBox__step">

                <fieldset class="checkboxList">
                    <legend>Verfügbare Zahlungsmethoden</legend>
                    <fieldset>
                        <label class="Radio">
                            <input type="radio" name="besser" value="gelb"/>
                            <span>PayPal</span>
                        </label>
                        <label class="Radio">
                            <input type="radio" name="besser" value="gelb"/>
                            <span>Sofort-Überweisung</span>
                        </label>
                        <label class="Radio">
                            <input type="radio" name="besser" value="gelb"/>
                            <span>Vorkasse</span>
                        </label>
                        <div class="DependencyGroup">
                            <label class="Radio DependencyGroup__master">
                                <input type="radio" name="besser" value="gelb"
                                       data-activate-fieldset-name="neue_bankverbindung"/>
                                <span>Lastschrifteinzug von einer hinterlegten Bankverbindung</span>
                            </label>
                            <fieldset class="DependencyGroup__dependant" name="hinterlegte_bankverbindung">
                                <label>
                                    <span>Bankdaten</span>
                                    <select name="auswahl">
                                        <option value="eis">Deutsche Bank, IBAN: 1234 5678 9012 3456 78</option>
                                        <option value="sahne">Sparkasse Berlin, IBAN: 0987 6543 2109 8765 43</option>
                                    </select>
                                </label>
                            </fieldset>
                        </div>
                        <div class="DependencyGroup">
                            <label class="Radio DependencyGroup__master">
                                <input type="radio" name="besser" value="hell rosa"
                                       data-activate-fieldset-name="neu_neu_neu"/>
                                <span>Lastschrifteinzug von einer neuen Bankverbindung</span>
                            </label>
                            <fieldset class="DependencyGroup__dependant" name="neu_neu_neu">
                                <div class="Grid">
                                    <div class="Grid__Module Grid_Module--40">
                                        <label>
                                            <span>IBAN:</span>
                                            <input type="text" name="evb_nummer"/>
                                        </label>
                                    </div>
                                    <div class="Grid__Module Grid_Module--30">
                                        <label>
                                            <span>BIC:</span>
                                            <input type="text" name="evb_nummer" readonly="readonly"/>
                                        </label>
                                    </div>
                                    <div class="Grid__Module Grid_Module--30">
                                        <label>
                                            <span>Bank:</span>
                                            <input type="text" name="evb_nummer" readonly="readonly"/>
                                        </label>
                                    </div>
                                </div>

                                <label>
                                    <span>Kontoinhaber (falls abweichend vom Antragsteller):</span>
                                    <input type="text" name="evb_nummer"/>
                                </label>
                            </fieldset>
                        </div>
                    </fieldset>
                </fieldset>


                <footer>
                    <div class="ValidationMessages">
                        <div class="ValidationMessages__message ValidationMessages__message--error" data-validation-message-type="error">Ihre Eingabe konnte nicht validiert werden. Bitte überprüfen Sie die Daten.</div>
                    </div>
                    <button type="button" data-action="previousTab">Zurück</button>
                    <button type="button" data-action="nextTab">Weiter</button>
                </footer>
            </div>

            <div data-target-tab-id="tab4" class="Tab StepsBox__step">

                <fieldset class="checkboxList">
                    <legend>Folgende Optionen stehen Ihnen zur Verfügung</legend>

                    <label class="Radio">
                        <input type="radio" name="besser" value="gelb"/>
                        <span>Sie bringen Ihre Unterlagen zu uns</span>
                        <p class="description">Unsere Adresse und reguläre Öffnungszeiten finden Sie in der
                            Bestätigung-Email.</p>
                    </label>


                    <label class="Radio">
                        <input type="radio" name="besser" value="gelb"/>
                        <span>Sie lassen uns Ihre Unterlagen abholen</span>
                        <p class="description">Der Termin und Abholort kann bequem über den Link vereinbart werden,
                            welcher in der Bestätigung-Email steht.</p>
                    </label>

                </fieldset>


                <footer>
                    <div class="ValidationMessages">
                        <div class="ValidationMessages__message ValidationMessages__message--error" data-validation-message-type="error">Ihre Eingabe konnte nicht validiert werden. Bitte überprüfen Sie die Daten.</div>
                    </div>
                    <button type="button" data-action="previousTab">Zurück</button>
                    <button type="button" data-action="nextTab">Weiter</button>
                </footer>
            </div>

            <div data-target-tab-id="tab5" class="Tab StepsBox__step">


                <footer>
                    <div class="ValidationMessages">
                        <div class="ValidationMessages__message ValidationMessages__message--error" data-validation-message-type="error">Ihre Eingabe konnte nicht validiert werden. Bitte überprüfen Sie die Daten.</div>
                    </div>
                    <button type="button" data-action="previousTab">Zurück</button>
                    <button type="submit">Absenden</button>
                </footer>
            </div>
        </form>
    </div>


</div>

<script type="text/javascript" src="assets/scripts/jQuery-3.3.1.min.js"></script>
<script type="text/javascript" src="assets/scripts/Forms.js"></script>
<script type="text/javascript" src="assets/scripts/StepBoxes.js"></script>

</body>
</html>