<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Formulare - Prototypen</title>
    <link rel="stylesheet" href="assets/styles/formulars.css"/>
</head>
<body>
<h1>KFZ-Anmeldung</h1>

<div class="Tabs">
    <nav>
        <span class="TabNavigationItem active" data-target-tab-id="tab1">Fahrzeug</span>
        <span class="TabNavigationItem" data-target-tab-id="tab2">KFZ-Steuer</span>
        <span class="TabNavigationItem" data-target-tab-id="tab3">Zahlung</span>
        <span class="TabNavigationItem" data-target-tab-id="tab4">Dokumentenübergabe</span>
        <span class="TabNavigationItem" data-target-tab-id="tab5">Prüfen &amp; abschließen</span>
    </nav>
    <div class="TabsWrapper">
        <div data-tab-id="tab1" class="Tab active">
            <form action="#" method="get">
                <fieldset>
                    <legend>Kennzeichen</legend>
                    <label>
                        <span>das alte Kennzeichen (nur bei Ummeldungen)</span>
                        <input type="text" name="kennzeichen_alt"/>
                    </label>

                    <fieldset class="checkboxList">
                        <legend>das neue Kennzeichen</legend>
                        <fieldset>
                            <label>
                                <input type="checkbox" name="besser" value="gelb"/>
                                <span>soll von uns beantragt werden und soll dabei folgenden Wünschen entsprechen:</span>
                            </label>
                            <div class="Grid">
                                <div class="Grid__Module Grid_Module--20">&nbsp;</div>
                                <div class="Grid__Module Grid_Module--80">
                                    <input type="text" name="kennzeichen_neu_wuensche"/>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <label>
                                <input type="checkbox" name="besser" value="orange"/>
                                <span>ist von Ihnen bereits auf Ihren Namen reserviert worden und soll lauten:</span>
                            </label>
                            <div class="Grid">
                                <div class="Grid__Module Grid_Module--20">&nbsp;</div>
                                <div class="Grid__Module Grid_Module--80">
                                    <input type="text" name="kennzeichen_neu_reserviert"/>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <label>
                                <input type="checkbox" name="besser" value="hell rosa"/>
                                <span>spielt für Sie keine Rolle und soll zufällig vergeben werden</span>
                            </label>
                        </fieldset>
                    </fieldset>
                </fieldset>

                <fieldset>
                    <legend>Fahrzeugdaten</legend>

                    <div class="FormularGroup Grid">
                        <div class="Grid_Module--50">
                            <label>
                                <span>Ident-Nummer: <a href="#" class="hint">Wo finde ich sie?</a></span>
                                <input type="text" name="strasse"/>
                            </label>
                        </div>
                        <div class="Grid_Module--50">
                            <label>
                                <span>Fahrzeugbrief-Nummer: <a href="#" class="hint">Wo finde ich sie?</a></span>
                                <input type="text" name="hausnummer"/>
                            </label>
                        </div>
                    </div>

                    <fieldset class="checkboxList">
                        <label>
                            <input type="checkbox" name="besser" value="hell rosa"/>
                            <span>Fahrzeug wird finanziert bzw. geleast</span>
                        </label>
                    </fieldset>

                </fieldset>

                <fieldset>
                    <legend>KFZ-Versicherung</legend>

                    <label>
                        <span>eVB-Nummer: <a href="#" class="hint">Wo finde ich sie?</a></span>
                        <input type="text" name="evb_nummer"/>
                    </label>

                </fieldset>
            </form>

            <footer>
                <button type="submit">Weiter</button>
                <button type="reset">Zurücksetzen</button>
            </footer>
        </div>

        <div data-tab-id="tab2" class="Tab">
            <form action="#" method="get">
                <fieldset class="checkboxList">
                    <legend>Bankdaten für die Abbuchung der KFZ-Steuer</legend>
                    <fieldset>
                        <label>
                            <input type="checkbox" name="besser" value="gelb"/>
                            <span>die hinterlegte Bankverbindung verwenden:</span>
                        </label>
                        <div class="Grid">
                            <div class="Grid__Module Grid_Module--20">&nbsp;</div>
                            <div class="Grid__Module Grid_Module--80">
                                <label>
                                    <select name="auswahl">
                                        <option value="eis">Deutsche Bank, IBAN: 1234 5678 9012 3456 78</option>
                                        <option value="sahne">Sparkasse Berlin, IBAN: 0987 6543 2109 8765 43</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <label>
                            <input type="checkbox" name="besser" value="hell rosa"/>
                            <span>eine neue Bankverbindung verwenden:</span>
                        </label>
                        <div class="Grid">
                            <div class="Grid__Module Grid_Module--10">&nbsp;</div>
                            <div class="Grid__Module Grid_Module--40">
                                <label>
                                    <span>IBAN:</span>
                                    <input type="text" name="evb_nummer"/>
                                </label>
                            </div>
                            <div class="Grid__Module Grid_Module--20">
                                <label>
                                    <span>BIC:</span>
                                    <input type="text" name="evb_nummer" readonly="readonly"/>
                                </label>
                            </div>
                            <div class="Grid__Module Grid_Module--30">
                                <label>
                                    <span>Bank:</span>
                                    <input type="text" name="evb_nummer" readonly="readonly"/>
                                </label>
                            </div>
                        </div>
                        <div class="Grid">
                            <div class="Grid__Module Grid_Module--10">&nbsp;</div>
                            <div class="Grid__Module Grid_Module--90">
                                <label>
                                    <span>Kontoinhaber (falls abweichend vom Antragsteller):</span>
                                    <input type="text" name="evb_nummer"/>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </fieldset>
            </form>

            <footer>
                <button type="button">Zurück</button>
                <button type="submit">Weiter</button>
            </footer>
        </div>

        <div data-tab-id="tab3" class="Tab">
            <form action="#" method="get">
                <fieldset class="checkboxList">
                    <legend>Verfügbare Zahlungsmethoden</legend>
                    <fieldset>
                        <label>
                            <input type="checkbox" name="besser" value="gelb"/>
                            <span>PayPal</span>
                        </label>
                        <label>
                            <input type="checkbox" name="besser" value="gelb"/>
                            <span>Sofort-Überweisung</span>
                        </label>
                        <label>
                            <input type="checkbox" name="besser" value="gelb"/>
                            <span>Vorkasse</span>
                        </label>
                        <fieldset>
                            <label>
                                <input type="checkbox" name="besser" value="gelb"/>
                                <span>Lastschrifteinzug von einer hinterlegten Bankverbindung</span>
                            </label>
                            <select name="auswahl">
                                <option value="eis">Deutsche Bank, IBAN: 1234 5678 9012 3456 78</option>
                                <option value="sahne">Sparkasse Berlin, IBAN: 0987 6543 2109 8765 43</option>
                            </select>
                        </fieldset>
                        <fieldset>
                            <label>
                                <input type="checkbox" name="besser" value="hell rosa"/>
                                <span>Lastschrifteinzug von einer neuen Bankverbindung</span>
                            </label>
                            <div class="Grid">
                                <div class="Grid__Module Grid_Module--10">&nbsp;</div>
                                <div class="Grid__Module Grid_Module--40">
                                    <label>
                                        <span>IBAN:</span>
                                        <input type="text" name="evb_nummer"/>
                                    </label>
                                </div>
                                <div class="Grid__Module Grid_Module--20">
                                    <label>
                                        <span>BIC:</span>
                                        <input type="text" name="evb_nummer" readonly="readonly"/>
                                    </label>
                                </div>
                                <div class="Grid__Module Grid_Module--30">
                                    <label>
                                        <span>Bank:</span>
                                        <input type="text" name="evb_nummer" readonly="readonly"/>
                                    </label>
                                </div>
                            </div>
                            <div class="Grid">
                                <div class="Grid__Module Grid_Module--10">&nbsp;</div>
                                <div class="Grid__Module Grid_Module--90">
                                    <label>
                                        <span>Kontoinhaber (falls abweichend vom Antragsteller):</span>
                                        <input type="text" name="evb_nummer"/>
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </fieldset>
                </fieldset>
            </form>

            <footer>
                <button type="button">Zurück</button>
                <button type="submit">Weiter</button>
            </footer>
        </div>

        <div data-tab-id="tab4" class="Tab">
            <form action="#" method="get">
                <fieldset class="checkboxList">
                    <legend>Folgende Optionen stehen Ihnen zur Verfügung</legend>
                    <fieldset>
                        <label>
                            <input type="checkbox" name="besser" value="gelb"/>
                            <span>Sie bringen Ihre Unterlagen zu uns</span>
                        </label>
                        Unsere Adresse und reguläre Öffnungszeiten finden Sie in der Bestätigung-Email.
                    </fieldset>
                    <fieldset>
                        <label>
                            <input type="checkbox" name="besser" value="gelb"/>
                            <span>Sie lassen uns Ihre Unterlagen abholen</span>
                        </label>
                        Der Termin und Abholort kann bequem über den Link vereinbart werden, welcher in der Bestätigung-Email steht.
                    </fieldset>
                </fieldset>
            </form>

            <footer>
                <button type="button">Zurück</button>
                <button type="submit">Weiter</button>
            </footer>
        </div>

        <div data-tab-id="tab5" class="Tab">
            <form action="#" method="get">
            </form>

            <footer>
                <button type="button">Zurück</button>
                <button type="submit">Abschließen</button>
            </footer>
        </div>
    </div>


</div>

<script type="text/javascript" src="assets/scripts/Tabs.js"></script>

</body>
</html>