<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Formulare - Prototypen</title>
    <link rel="stylesheet" href="assets/webfonts/line-awesome/css/line-awesome-font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="assets/styles/dashboard.css"/>
</head>
<body>
<h1>Auftrag</h1>

<div class="split left">
    <h2>Eigenschaften</h2>
    <div>
        <table id="request-keys" class="display" style="width:100%">
            <thead>
            <tr>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div>
        <table id="request-properties" class="display" style="width:100%">
            <thead>
            <tr>
                <th>Name</th>
                <th>Wert</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <button>Eigenschaften ändern</button>
    </div>
</div>
<div class="split right">
    <h2>Status</h2>
    <div>
        <div>
            <div>
                <span class="status-message">Hello World! I'm a status message!</span>
            </div>
            <div>
                <span class="status">WARTET</span>
                <label for="state-change-button">ändern ...</label><input id="state-change-button" type="checkbox" />
            </div>
        </div>

        <fieldset id="state-change">
            <form id="state-change-form">
                <br/>
                <label for="new-state">Neuer Zustand:</label>
                <select id="new-state">
                    <option value="-">Bitte wählen Sie</option>
                    <option value="DONE">ERLEDIGT</option>
                    <option value="REJECTED">ZURÜCKGEWIESEN</option>
                    <option value="WAITING">WARTET</option>
                </select>
                <br/>
                <label for="message">Ihr Kommentar:</label>
                <textarea id="message" cols="60" rows="5"></textarea>
                <br/>
                <input type="submit" value="Absenden..."/>
            </form>
        </fieldset>
    </div>
    <h3>Status-History</h3>
    <table id="request-history" class="display" style="width:100%">
        <thead>
        <tr>
            <th>Datum</th>
            <th>Typ</th>
            <th>Wert</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<script type="text/javascript" src="assets/scripts/jQuery-3.3.1.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="assets/scripts/request-info.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        init();
    });
</script>

</body>
</html>