@import "../_settings/_colors.scss";

form {

  button {
    border: 0;
    box-shadow: none;
    padding: 5px 20px;
    font-size: .9rem;
    font-weight: bold;
  }

  button[type=submit] {
    background-color: $color_action;
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
  }

  input {
    border: 0;
    padding: 5px 10px;
  }

  textarea {
    background-color: $color_basic_dark_background;
    padding: 10px;
    border: 0;
    box-shadow: unset;
    color: $color_font_on_dark_background;
  }

  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }

  label {
    span {
      display: block;
    }
  }
}