<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:with="c = ${argo.contentElementUtility}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${c.getPageTitle()}">Greece</title>
    <link rel="stylesheet" href="/global-assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/assets/styles/basic-layout.css"/>
    <link rel="stylesheet" href="/assets/styles/slider.css"/>
    <link rel="stylesheet" href="/assets/styles/greek.css"/>
    <style>
        @import url('https://fonts.googleapis.com/css?family=News+Cycle');
    </style>
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="/assets/scripts/slider.js"></script>
    <script type="text/javascript" src="/assets/scripts/language-switch.js"></script>
</head>
<body>
<header th:replace="base :: header">

</header>
<div class="body" th:with="
    c = ${argo.contentElementUtility},
    p = ${argo.pagePropertiesUtility},
    f = ${argo.formatterUtility}
">

    <nav th:replace="base :: breadcrumb">

    </nav>

    <article th:replace="base :: article-headline-body(${c.getContent('/headline')}, ${c.getContent('/body')})">

    </article>
</div>
<footer th:replace="base :: footer">

</footer>
</body>
</html>