<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:with="c = ${argo.contentElementUtility}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${c.getPageTitle()}">Greece</title>
    <link rel="stylesheet" href="/global/fonts/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/assets/styles/basic-layout.css"/>
    <link rel="stylesheet" href="/assets/styles/slider.css"/>
    <link rel="stylesheet" href="/assets/styles/greek.css"/>
    <style>
        @import url('https://fonts.googleapis.com/css?family=News+Cycle');
    </style>
    <link rel="stylesheet" type="text/css" href="/assets/libraries/open-street-map/map.css_">
    <!-- [if IE] >
    <link rel="stylesheet" type="text/css" href="/assets/shared/greekestate/assets/libraries/open-street-map/ie_map.css_">
    <! [endif] -->
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="/assets/scripts/slider.js"></script>
    <script type="text/javascript" src="/assets/scripts/language-switch.js"></script>
    <script type="text/javascript" src="http://www.openlayers.org/api/OpenLayers.js"></script>
    <script type="text/javascript" src="http://www.openstreetmap.org/openlayers/OpenStreetMap.js"></script>
    <script type="text/javascript" src="/assets/libraries/open-street-map/tom.js_"></script>
</head>
<body>
<header th:replace="base :: header">

</header>
<div class="body" th:with="
    c = ${argo.contentElementUtility},
    p = ${argo.pagePropertiesUtility},
    f = ${argo.formatterUtility},
    images = ${c.getElement('/images')},
    properties = ${c.getElement('/properties')},
    longDescriptionContent = ${c.getContent('/long-description')},
    geoPosition = ${c.getElement('/geo-position')},
    latitude = ${c.getContent(geoPosition, 'latitude')},
    longitude = ${c.getContent(geoPosition, 'longitude')},
">

    <nav th:replace="base :: breadcrumb">

    </nav>

    <article>
        <div class="ctaHighlightWrapper">
            <a class="ctaHighlight" href="javascript:history.back()">
                <i class="fa fa-search" aria-hidden="true"></i>
                <span th:text="${c.getContent('@common-content:common/links-and-ctas/back-to-search-result')}">Zurück zur Suche</span>
            </a>
        </div>
    </article>

    <article>
        <h1 th:text="${c.getContent('/headline')}">Haus am Meer</h1>
    </article>
    <article class="productDetails">
        <div class="content">
            <div th:if="${images.elements.size() == 0}" class="noImagesInformation">
                <i class="fa fa-building" aria-hidden="true"></i>
            </div>
            <div th:unless="${images.elements.size() == 0}" class="slider productDetailsSlider">
                <input class="sliderPageStorage" value="1" type="hidden">
                <span th:utext="|&lt;!-- ${images} --&gt;|"></span>
                <div class="sliderWrapper">
                    <ul>
                        <li th:each="image : ${images.elements}">
                            <div class="detailSlide">
                                <div class="image">
                                    <img th:src="${image.source}" src="/assets/images/objects/object-details1.jpg"/>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="sliderSlideLeft"></div>
                <div class="sliderSlideRight"></div>
                <div class="sliderPagination"><ul></ul></div>
            </div>
            <script type="text/javascript">
                jQuery(document).ready(function () {
                    new Slider(
                        jQuery(".slider.productDetailsSlider"),
                        {
                            "slideItemsAmountPerPage": [
                                {
                                    "min": "0px",
                                    "max": null,
                                    "slideItems": 1
                                }
                            ]
                        }
                    );
                });
            </script>
            <div class="description">
                <p class="shortTeaserCopy" th:utext="${c.getContent('/short-description')}">Direkte Lage, super Dinge, alles sauber, alles da! Wunderbar und herrlich schön, nichts ist unmöglich alles ist machtbart.</p>
                <ul class="highlights" th:with="
                    code = ${c.getContent(properties, 'code')},
                    type = ${c.getContent(properties, 'type')},
                    area = ${c.getContent(properties, 'area')},
                    region = ${c.getContent(properties, 'region')}
                ">
                    <li class="highlights__item"><i class="highlights__icon fa fa-id-card-o" aria-hidden="true"></i><span class="highlights__type" th:text="${c.getContent('@common-content:common/properties/code')}">Code:</span>#<span class="highlights__value" th:text="${code}">3546</span></li>
                    <li class="highlights__item"><i class="highlights__icon fa fa-tag" aria-hidden="true"></i><span class="highlights__type" th:text="${c.getContent('@common-content:common/properties/type')}">Type:</span><span class="highlights__value" th:utext="${c.getOptionalContent('@common-content:common/general-headlines/object-type:' + type, type)}">3546</span></li>
                    <li class="highlights__item"><i class="highlights__icon fa fa-map-o" aria-hidden="true"></i><span class="highlights__type" th:text="${c.getContent('@common-content:common/properties/area')}">Area:</span><span class="highlights__value" th:utext="${f.formatNumber(area, ' m<sup>2</sup>')}">3546</span></li>
                    <li class="highlights__item"><i class="highlights__icon fa fa-map-marker" aria-hidden="true"></i><span class="highlights__type" th:text="${c.getContent('@common-content:common/properties/region')}">Region:</span><span class="highlights__value" th:utext="${region}">3546</span></li>
                    <!--<li th:each="property : ${properties.elements}">-->
                        <!--<span th:if="${property.name != 'code' and property.name != 'price'}">-->
                            <!--<span th:text="${c.getContent('@common-content:common/properties/' + property.name)}">Code</span>: <span th:utext="${property.getContextSpecificContent(#strings.toLowerCase(argo.project), true)}">3546</span>-->
                        <!--</span>-->
                    <!--</li>-->
                </ul>
                <div class="priceBox" th:text="${f.formatPrice(c.getContent(properties, 'price'))}">
                    255.000,00 €
                </div>
                <div class="transfer">
                    <a class="cta" href="text.html" th:text="${c.getContent('@common-content:common/links-and-ctas/contact-request')}">Anfragen</a>
                </div>
            </div>
        </div>
    </article>

    <article th:if="${longDescriptionContent}">
        <h2 th:text="${c.getContent('@common-content:common/general-headlines/description')}">Beschreibung</h2>
        <p th:utext="${longDescriptionContent}">
            Where position: relative; ensures correct positioning of the fix. And white-space: pre; makes you not having to add any content - like a white space - to the fix. And height: 0px;width: 0px;overflow: hidden; makes sure you'll never see the fix.
            You might need to add line-height: 0px; or max-height: 0px; to ensure the height is actually zero in ancient IE browsers (I'm unsure). And optionally you could add <!--dummy--> to it in old IE browsers, if it does not work.
            In short, you can do all this with only CSS (which removes the need to add an actual child to the HTML DOM-tree).
        </p>
    </article>

    <article th:if="${not #strings.equals(latitude, '0.0') and not #strings.equals(longitude, '0.0')}">
        <h2 th:text="${c.getContent('@common-content:common/general-headlines/map')}">Karte</h2>

        <p th:with="
            lat = ${c.getContent(geoPosition, 'latitude')},
            long = ${c.getContent(geoPosition, 'longitude')},
            minLat = ${c.getContent(geoPosition, 'latitude')},
            maxLat = ${c.getContent(geoPosition, 'latitude')},
            minLong = ${c.getContent(geoPosition, 'longitude')},
            maxLong = ${c.getContent(geoPosition, 'longitude')}
        ">
            <iframe th:src="${'https://www.openstreetmap.org/export/embed.html?bbox=' + minLong + ',' + minLat + ',' + maxLong + ',' + maxLat + '&layer=mapnik&marker=' + lat + ',' + long}" width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                    src="https://www.openstreetmap.org/export/embed.html?bbox=-62.04673002474011%2C16.95487694424327%2C-61.60521696321666%2C17.196751341562923&amp;layer=mapnik"
                    style="border: 1px solid black"></iframe>
            <br/>
            <small>
                <a target="_blank" th:href="${'https://www.openstreetmap.org/?mlat=' + lat + '&mlon=' + long + '#map=16/' + lat + '/' + long + '&marker=' + lat + '/' + long}" href="https://www.openstreetmap.org/#map=12/17.0759/-61.8260">Größere Karte anzeigen</a>
            </small>
        </p>

    </article>

</div>
<footer th:replace="base :: footer">

</footer>
</body>
</html>