@import "settings/colors";
@import "modules/navigation/cms-navigation";
@import "elements/hotspots/marker.scss";

body {
  font-size: 1em;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

ul {
  list-style-type: none;
}

.desktop {

  .prototype {
    display: none !important;
  }

  .sidePanel {
    width: 200px;
    height: 100%;
    position: fixed;
    background-color: #272626;

    header {
      display: flex;
      align-items: center;

      .icon {
        display: inline-block;
        background-color: #4814d5;
        height: 23px;
        width: 23px;
        border-radius: 5px 5px 0 5px;
        position: relative;
        margin: 5px;

        i {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translateX(-50%) translateY(-50%);
        }
      }

      .title {
        font-size: 1.2rem;
        padding: 2px 5px;
      }
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #333;
        background-color: transparent;

        .label {
          width: calc(100% - 20px);
          cursor: pointer;
          padding: 10px;

          &:hover {
            background-color: #1b1b1b;
          }
        }

        i {
          width: 20px;
        }
      }
    }
  }

  iframe#pageContent {
    overflow: hidden;
    margin-left: 200px;
    transition: margin .8s ease-in;
  }

  &.sidePanelClosed {
    iframe#pageContent {
      margin-left: 0;
    }
  }

}

.overlay {
  z-index: 5;
  display: none;
  color: #111; /* Flingh property, adjust in lib */

  section {
    > div {
      margin: 40px;
    }

    input {
      border: 0;
      background-color: #e0e0e0;
      padding: 10px 20px;
      width: calc(100% - 80px);
      font-size: 1.2em;
    }

    .prototype {
      display: none;
    }

    form {
      > div {
        margin-bottom: 20px;
      }
    }
  }
}
.overlayBackgroundLayer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.77);
  display: none;
}