@import "settings/colors";
@import "modules/navigation/cms-navigation";
@import "elements/hotspots/marker.scss";

body {
  font-size: 1em;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

ul {
  list-style-type: none;
}

iframe#pageContent {
  overflow: hidden;
}

.overlay {
  z-index: 5;
  display: none;
  color: #111; /* Flingh property, adjust in lib */

  section {
    > div {
      margin: 40px;
    }

    input {
      border: 0;
      background-color: #e0e0e0;
      padding: 10px 20px;
      width: calc(100% - 80px);
      font-size: 1.2em;
    }
  }
}
.overlayBackgroundLayer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.77);
  display: none;
}