<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

    <script type="text/javascript" th:src="@{/js/lib/hera.js}" src="js/lib/hera.js"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var loggerFactory = new LoggerFactory([[${heraContextPath}]]);
        var logger = loggerFactory.getLogger('myLogger');

        $(function(){
            $("#logTrace").click(function(){
                var oldValue = $(this).text();
                $(this).text(oldValue + '.');
                logger.trace("Test message for {}, {}, {}", ["a", "b", "c"]);
            });

            $("#logDebug").click(function(){
                var oldValue = $(this).text();
                $(this).text(oldValue + '.');
                logger.debug("Test message for {}, {}, {}", ["a", "b", "c"]);
            });

            $("#logInfo").click(function(){
                var oldValue = $(this).text();
                $(this).text(oldValue + '.');
                logger.info("Test message for {}, {}, {}", ["a", "b", "c"]);
            });

            $("#logWarn").click(function(){
                var oldValue = $(this).text();
                $(this).text(oldValue + '.');
                logger.warn("Test message for {}, {}, {}", ["a", "b", "c"]);
            });

            $("#logError").click(function(){
                var oldValue = $(this).text();
                $(this).text(oldValue + '.');
                logger.error("Test message for {}, {}, {}", ["a", "b", "c"]);
            });
        });
        /*]]>*/
    </script>
</head>
<body>

<h2>Logging test</h2>
<ul>
    <li id="logTrace">Log trace</li>
    <li id="logDebug">Log debug</li>
    <li id="logInfo">Log info</li>
    <li id="logWarn">Log warn</li>
    <li id="logError">Log error</li>
</ul>
</body>
</html>