<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>argo - Something wrong... (404)</title>
    <link rel="stylesheet" href="/global-assets/styles/cms-error-page.css"/>
    <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow|Dosis|Economica|Roboto+Condensed|Saira+Condensed"
          rel="stylesheet"/>
    <link rel="stylesheet" href="/global-assets/libraries/fontawesome-free-5.7.2-web/css/all.css"/>

    <script src="/global-assets/libraries/jquery/jquery-3.3.1.min.js"></script>
    <script src="/global-assets/scripts/error-page.js"></script>

</head>
<body>

<div class="argoError">

    <div class="argoError__title">
        <div class="argoError__titleGraphic">
            <i class="far fa-flushed"></i>
        </div>
        <div class="argoError__titleCopy">
            <h1>Uups, we made a mistake...</h1>
        </div>
    </div>

    <div class="argoError__error">
        <button id="diagnoseErrorButton" class="argoError__errorDiagnosesButton button button--preferredAction">
                <span class="button__icon">
                    <i class="fas fa-diagnoses"></i>
                </span>
            <span class="button__copy">
                    Diagnose
                </span>
        </button>

        <h2 class="argoError__errorMessage">
            <span th:text="${message}"></span>
        </h2>
        <div id="diagnoseErrorContent" class="argoError__errorDetails">
            <div th:text="${cause}"></div>
            <div>
                <ul th:each="cause : ${stack}">
                    <li>
                        <span class="key" th:text="${cause.class}">cause</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="argoError__nextSteps">
        <div class="argoError__nextStepsIcon">
            <i class="fas fa-shoe-prints"></i>
        </div>
        <div class="argoError__nextStepsTitle">
            Next steps
        </div>
    </div>

    <ul class="argoError__nextStepsList">
        <li class="argoError__nextStepsItem">
            <a href="#" class="argoError__errorDiagnosesButton button button--preferredAction">
                    <span class="button__icon">
                        <i class="fas fa-redo"></i>
                    </span>
                <span class="button__copy">
                        Try again
                    </span>
            </a>
        </li>
        <li class="argoError__nextStepsItem">
            <a href="#" class="argoError__errorDiagnosesButton button button--preferredAction">
                    <span class="button__icon">
                        <i class="far fa-envelope"></i>
                    </span>
                <span class="button__copy">
                        Send error-message to cms-admin
                    </span>
            </a>
        </li>
        <li class="argoError__nextStepsItem">
            <a href="#" class="argoError__errorDiagnosesButton button button--preferredAction">
                    <span class="button__icon">
                        <i class="fas fa-backspace"></i>
                    </span>
                <span class="button__copy">
                        Quit and go back
                    </span>
            </a>
        </li>
    </ul>

</div>

</body>
</html>