<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>CMS Html Editor</title>
    <link rel="stylesheet" type="text/css" href="/assets/styles/system.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css"/>
    <!---->
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js"
            integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl"
            crossorigin="anonymous"></script>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <!---->
</head>
<body>

<header>
    <img class="logo" src="/assets/images/argo-logo.png" alt="argo Logo"/>
</header>
<div id="system" class="systemContent split left" th:data-language="${system.language}" th:data-project="${system.project}">
    <div class="project" th:text="${system.project}">IBM</div>
    <div id="jstree"></div>
</div>
<div id="details" class="split right">
    <fieldset>
        <label>Path</label>
        <div id="path">
            &nbsp;
        </div>
    </fieldset>
    <fieldset>
        <label>State</label>
        <div id="state">
            &nbsp;
        </div>
        <div id="state_change_message"></div>
    </fieldset>
    <fieldset>
        <label>Actions</label>
        <div id="actions">
            <input id="action_stage" type="button" class="draft" name="stage" value="stage content"/>
            <input id="action_unstage" type="button" class="stage" name="unstage" value="unstage content"/>
            <input id="action_go_live" type="button" class="stage" name="live" value="go live"/>
            <input id="action_revoke" type="button" class="live" name="revoke" value="revoke"/>
        </div>
    </fieldset>
    <fieldset>
        <label>Compile info</label>
        <div id="compile_info">
            &nbsp;
        </div>
    </fieldset>
    <fieldset>
        <label>Visibility info</label>
        <div id="live_switch_info">
            &nbsp;
        </div>
    </fieldset>
</div>

<script type='text/javascript'>
    jQuery(document).ready(function () {
        $('#actions input').hide();
        $('#action_stage').click(function () {
            var language = $('#system').attr('data-language');
            var path = $('#path').data('path');
            changeState(language, path, 'STAGED');
        });
        $('#action_unstage').click(function () {
            var language = $('#system').attr('data-language');
            var path = $('#path').data('path');
            changeState(language, path, 'DRAFT');
        });
        $('#action_go_live').click(function () {
            var language = $('#system').attr('data-language');
            var path = $('#path').data('path');
            changeState(language, path, 'LIVE');
        });
        $('#action_revoke').click(function () {
            var language = $('#system').attr('data-language');
            var path = $('#path').data('path');
            changeState(language, path, 'STAGED');
        });

        var language = $('#system').attr('data-language');
        $.when(loadTree(language)).done(
            function (data) {
                $('#jstree')
                    .on('changed.jstree', function (e, data) {
                        $('#system').attr('data-path', data.selected);
                        updateInfo();
                    }).jstree({
                    core: {
                        data: data
                    }
                });
            }
        );

        // repeat execution every 5 sek.
        setInterval(updateInfo, 5000);
    });

    function loadTree(language) {
        return $.ajax({
            url: "/cms/system/tree/?l=" + language
        });
    }

    function loadTreeNode(language, path) {
        return $.ajax({
            url: "/cms/system/treeNode/?l=" + language + "&p=" + path
        });
    }

    function updateInfo(message) {
        console.log('Updating the status ...');

        var systemDiv = $('#system');
        var language = systemDiv.attr('data-language');
        var path = systemDiv.attr('data-path');

        if (!path) {
            return;
        }

        var cmsLink = "/cms/compile/?l=" + language + "&p=" + path;
        $('#path')
            .attr('data-path', path)
            .empty()
            .append($("<span></span>").text(path))
            .append(" (")
            .append($("<a></a>")
                .attr("href", cmsLink)
                .attr("target", "_blank")
                .text("cms")
            )
            .append(")");

        $.ajax({
            url: "/cms/system/info/?l=" + language + "&p=" + path,
            success: function (data) {
                console.log(data);

                if (!data.pageState) {
                    updateStateInfo('UNDEFINED', false, false, false);
                }
                else if (!data.pageState.staged) {
                    // DRAFT
                    updateStateInfo('DRAFT', true, false, false);
                    updateNodeInfo(data);
                }
                else if (!data.pageState.live) {
                    // STAGED
                    updateStateInfo('STAGED', false, true, false);
                    updateNodeInfo(data);
                }
                else {
                    // LIVE
                    updateStateInfo('LIVE', false, false, true);
                    updateNodeInfo(data);
                }
            }
        });

        var messageDiv = $('#state_change_message');
        if (message) {
            messageDiv.html('Error: ' + message);
        }
        else {
            messageDiv.html('');
        }
    }

    function updateStateInfo(state, isDraft, isStaged, isLive) {
        $('#state').html(state);

        var draftInputs = $('#actions input.draft');
        if (isDraft)
            draftInputs.show();
        else
            draftInputs.hide();

        var stageInputs = $('#actions input.stage');
        if (isStaged)
            stageInputs.show();
        else
            stageInputs.hide();

        var liveInputs = $('#actions input.live');
        if (isLive)
            liveInputs.show();
        else
            liveInputs.hide();
    }

    function updateNodeInfo(data) {
        var compileInfoDiv = $('#compile_info');
        compileInfoDiv.empty();

        var templateRef = data.templateReference;
        if (templateRef) {
            compileInfoDiv
                .append($('<div></div>')
                    .append($('<span></span>').attr('class', 'key').text('Template: '))
                    .append($('<span></span>').attr('class', 'value').text(templateRef))
                );
        }

        var goLiveButton = $('#action_go_live');
        var pageState = data.pageState;
        if (pageState) {
            var compileState = pageState.compileState;

            if (pageState.staged) {
                if (compileState) {
                    var compileTimestamp = compileState.timestamp;
                    if (compileTimestamp && compileTimestamp > 0) {
                        goLiveButton.prop('disabled', false);
                        var stageTimestampDate = new Date(compileTimestamp);
                        compileInfoDiv
                            .append($('<div></div>')
                                .append($('<span></span>').attr('class', 'key').text('Stage compile: '))
                                .append($('<span></span>').attr('class', 'value').html('DONE @ ' + formatDate(stageTimestampDate)))
                            )
                    }
                    else {
                        goLiveButton.prop('disabled', true);
                        compileInfoDiv
                            .append($('<div></div>')
                                .append($('<span></span>').attr('class', 'key').text('Stage compile: '))
                                .append($('<span></span>').attr('class', 'value').text('WAITING'))
                            )
                    }
                }
                else {
                    goLiveButton.prop('disabled', true);
                    compileInfoDiv
                        .append($('<div></div>')
                            .append($('<span></span>').attr('class', 'key').text('Stage compile: '))
                            .append($('<span></span>').attr('class', 'value').text('WAITING'))
                        )
                }
            }
            else {
                goLiveButton.prop('disabled', true);
                compileInfoDiv
                    .append($('<div></div>')
                        .append($('<span></span>').attr('class', 'key').text('Stage compile: '))
                        .append($('<span></span>').attr('class', 'value').text('NOT READY'))
                    )
            }

            console.log(compileState);
            if (compileState && compileState.message) {
                compileInfoDiv
                    .append($('<div></div>')
                        .append($('<span></span>').attr('class', 'key').text('Compiler message: '))
                        .append($('<span></span>').attr('class', 'value').html("<span class='errorMessage'>" + compileState.message + "</span>"))
                    )
            }

            var liveSwitchInfoDiv = $('#live_switch_info');
            liveSwitchInfoDiv.empty();

            if (pageState.live) {
                var liveSwitchTimestamp = pageState.timestampLiveSwitch;
                if(liveSwitchTimestamp && liveSwitchTimestamp > 0){
                    var liveSwitchDate = new Date(liveSwitchTimestamp);
                    liveSwitchInfoDiv
                        .append($('<div></div>')
                            .append($('<span></span>').attr('class', 'key').text('Live switch: '))
                            .append($('<span></span>').attr('class', 'value').html('DONE @ ' + formatDate(liveSwitchDate)))
                    )
                }
                else {
                    liveSwitchInfoDiv
                        .append($('<div></div>')
                            .append($('<span></span>').attr('class', 'key').text('Live switch: '))
                            .append($('<span></span>').attr('class', 'value').text('WAITING'))
                        )
                }
            }
            else {
                liveSwitchInfoDiv
                    .append($('<div></div>')
                        .append($('<span></span>').attr('class', 'key').text('Live switch: '))
                        .append($('<span></span>').attr('class', 'value').text('NOT READY'))
                    )
            }
        }
    }

    function changeState(language, path, state) {
        console.log('Changing state to ' + state);
        $.ajax({
            url: "/cms/system/updateState/?l=" + language + "&p=" + path + "&state=" + state,
            success: function (data) {
                if (!data.success) {
                    console.log('Error occurred: ' + data.message);
                    updateInfo(data.message);
                }
                else {
                    updateInfo();
                }
            }
        })
    }

    function formatDate(date) {
        var month = date.getMonth() + 1;
        var y = date.getFullYear();
        var m = month < 10 ? "0" + month : "" + month;
        var day = date.getDate();
        var d = day < 10 ? "0" + day : day;
        var hh = date.getHours();
        var minutes = date.getMinutes();
        var mm = minutes < 10 ? "0" + minutes : minutes;
        return d + "." + m + "." + y + "&nbsp;" + hh + ":" + mm;
    }

</script>
</body>
</html>